*{ margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Lexend', sans-serif;
}
::-webkit-scrollbar {
  width: 8px;
  height: 0px;
}

::-webkit-scrollbar-track {
  overflow: hidden;
  background: #000;
  text-decoration: none;
  border-radius: 10px;

}
::-webkit-scrollbar-thumb {
  background-color: #06cc02; 
  border-radius: 10px;
  border: 3px solid #000; 
}
.abstract-design-icon {
  position: absolute;
  top: -139px;
  left: -37px;
  width: 573.5px;
  height: 693.8px;
  object-fit: contain;
}
.vector-icon {
  height: 21.7px;
  width: 12.8px;
  position: relative;
}
.material-symbolsarrow-back-io {
  position: absolute;
  top: 73px;
  left: 114px;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  z-index: 1;
}
.material-symbolsarrow-back-io:hover{
  transition: 0.7s;
  background-color: #06cc02;
}
.navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 536.5px;
  height: 554.8px;
}
.abstract-design-icon1 {
  height: 173px;
  width: 173px;
  position: relative;
  object-fit: contain;
  mix-blend-mode: lighten;
}
.watch-logo-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  border: 0 solid #262626;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.logo-icon {
  position: absolute;
  top: 40px;
  left: 34px;
  width: 70px;
  height: 70.4px;
  object-fit: contain;
  z-index: 1;
}
.watch-logo {
  height: 150px;
  flex: 1;
  position: relative;
}
.watch-name {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.watcal {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 150%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  min-width: 128px;
}
.watch-label {
  flex-direction: column;
  padding: 48px 0 0;
}
.hero-details,
.title,
.watch-label {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.title {
  align-self: stretch;
  flex-direction: row;
}
.hero-details {
  flex: 1;
  flex-direction: column;
  padding: 147.6px 0 0;
  box-sizing: border-box;
  min-width: 181px;
}
.abstract-design-icon2 {
  height: 172px;
  width: 172px;
  position: relative;
  object-fit: contain;
  mix-blend-mode: lighten;
}
.hero {
  margin-top: -421.6px;
  margin-left: -85.6px;
  width: 678.1px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 27.6px;
  max-width: 115%;
  flex-shrink: 0;
}
.content-child {
  width: 579px;
  height: 324px;
  position: relative;
  display: none;
  max-width: 100%;
}
.enter-email {
  width: 136px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}
.frame-child {
  height: 54px;
  width: 498px;
  position: relative;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid #262626;
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.melpetersgmailcom {
  width: 100%;
  border: 0;
  outline: 0;
  display: flex;
  font-family: Nunito;
  font-size: 18px;
  background-color: transparent;
  height: 25px;
  flex: 1;
  position: relative;
  font-weight: 700;
  color: #fff;
  text-align: left;
  align-items: center;
  min-width: 250px;
  white-space: nowrap;
  max-width: 100%;
  padding: 0;
  z-index: 1;
}
.email-input,
.rectangle-parent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.rectangle-parent {
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid #262626;
  box-sizing: border-box;
  flex-direction: row;
  padding: 12px 20px 13px 21px;
  z-index: 3;
}
.email-input {
  flex-direction: column;
}
.text {
  flex: 1;
  position: relative;
  font-size: 16px;
  line-height: 150%;
  font-family: Lexend;
  color: #262626;
  text-align: center;
  display: inline-block;
  max-width: 100%;
}
.button {
  cursor: pointer;
  border: 0;
  padding: 18px 20px;
  background-color: #06cc02;
  width: 400px;
  border-radius: 63px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 3;
}
.button:hover {
  transform: 0.7s;
  background-color: #1fe61c;
}
.button,
.content,
.form,
.submit-button {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.submit-button {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 44px;
}
.content,
.form {
  flex-direction: column;
  justify-content: flex-start;
}
.form {
  width: 518px;
  align-items: flex-end;
  padding: 0 20px 0 0;
  gap: 78px;
  flex-shrink: 0;
  text-align: center;
  font-size: 18px;
  color: #bfbfbf;
  font-family: Nunito;
}
.content {
  position: absolute;
  top: calc(50% - 369px);
  left: calc(50% - 338.5px);
  border-radius: 50px;
  width: 678px;
  height: 738px;
  align-items: flex-start;
  padding: 421px 0 100px 85px;
  gap: 124px;
  border: 1px solid #262626;
  background-image: url(../images/paper.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 1;
}
.desktop-2 {
  width: 100%;
  height: 1024px;
  position: relative;
  background-color: #1a1a1a;
  overflow: hidden;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: 36px;
  color: #fff;
  font-family: Lexend;
}
@media screen and (max-width: 750px) {
  .watcal {
    font-size: 29px;
    line-height: 43px;
  }
}
@media screen and (max-width: 675px) {
  .content,
  .desktop-2 {
    height: auto;
  }
  .desktop-2 {
    min-height: 1024;
  }
}
@media screen and (max-width: 450px) {
  .watcal {
    font-size: 22px;
    line-height: 32px;
  }
}