*{ margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
}
.vector-icon {
    height: 21.7px;
    width: 12.8px;
    position: relative;
  }
  .material-symbolsarrow-back-io:hover{
    transition: 0.7s;
    background-color: #06cc02;
  }
  .material-symbolsarrow-back-io {
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    cursor: pointer;
  }
  .terms-and-policies {
    align-self: stretch;
    position: relative;
    line-height: 18px;
    font-weight: 300;
  }
  .navbar,
  .navbar-wrapper,
  .terms-and-policies-wrapper {
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
  }
  .terms-and-policies-wrapper {
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    padding: 11.8px 0 0;
    min-width: 144px;
  }
  .navbar,
  .navbar-wrapper {
    flex-direction: row;
    max-width: 100%;
  }
  .navbar {
    width: 350px;
    border-radius: 100px;
    background-color: #1c1c1c;
    border: 1px solid #262626;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 4px 11px 4px 12px;
    gap: 50px;
  }
  .navbar-wrapper {
    width: 864px;
    justify-content: center;
    padding: 0 20px;
    text-align: left;
    font-size: 20px;
    color: #fff;
    font-family: Inter;
  }
  .icon1 {
    height: 35px;
    width: 35px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .icon {
    height: 63px;
    width: 63px;
    border-radius: 50px;
    background: linear-gradient(
      180deg,
      rgba(202, 255, 51, 0.1),
      rgba(202, 255, 51, 0) 46.77%
    );
    border: 1px solid rgba(202, 255, 51, 0.2);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 14px 13px;
  }
  .terms {
    align-self: stretch;
    position: relative;
    line-height: 150%;
    font-weight: 300;
    display: inline-block;
    min-width: 65px;
  }
  .icon-parent,
  .terms-title {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .terms-title {
    flex: 1;
    flex-direction: column;
    padding: 16.5px 0 0;
  }
  .icon-parent {
    width: 138px;
    flex-direction: row;
    gap: 10px;
  }
  .faq-item-inner,
  .line {
    width: 799px;
    max-width: 100%;
  }
  .faq-item-inner {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
  .line {
    height: 1px;
    position: relative;
    border-top: 1px solid #262626;
    box-sizing: border-box;
  }
  .account-registration1 {
    margin-bottom: 0;
  }
  .account-registration {
    margin: 0;
    font-family: inherit;
    padding-left: 24px;
  }
  .you-must-create {
    margin: 0;
    font-size: 16px;
  }
  .blank-line {
    margin: 0;
    font-size: 14px;
  }
  .user-conduct1 {
    margin-bottom: 0;
  }
  .user-conduct {
    margin: 0;
    font-family: inherit;
    padding-left: 24px;
  }
  .you-agree-to {
    margin: 0;
    font-size: 16px;
  }
  .blank-line1 {
    margin: 0;
    font-size: 14px;
  }
  .intellectual-property1 {
    margin-bottom: 0;
  }
  .intellectual-property {
    margin: 0;
    font-family: inherit;
    padding-left: 24px;
  }
  .all-content-and {
    margin: 0;
    font-size: 16px;
  }
  .paragraph {
    width: 799px;
    position: relative;
    line-height: 150%;
    font-weight: 300;
    color: #b3b3b3;
    display: inline-block;
    max-width: 100%;
    font-size: 18px;
  }
  .faq-item,
  .items-list {
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
    max-width: 100%;
  }
  .faq-item {
    flex: 1;
    border-radius: 20px;
    border-left: 1px solid #06cc02;
    flex-direction: column;
    align-items: center;
    padding: 18.5px 20px 16.5px;
    gap: 19.5px;
  }
  .items-list {
    align-self: stretch;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 0 0 2px;
  }
  .icon3 {
    height: 35px;
    width: 35px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .icon2 {
    height: 63px;
    width: 63px;
    border-radius: 50px;
    background: linear-gradient(
      180deg,
      rgba(202, 255, 51, 0.1),
      rgba(202, 255, 51, 0) 46.77%
    );
    border: 1px solid rgba(202, 255, 51, 0.2);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 14px 13px;
  }
  .policies {
    align-self: stretch;
    position: relative;
    line-height: 150%;
    font-weight: 300;
  }
  .icon-group,
  .policies-title {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .policies-title {
    flex: 1;
    flex-direction: column;
    padding: 16.5px 0 0;
  }
  .icon-group {
    width: 158px;
    flex-direction: row;
    gap: 10px;
  }
  .faq-item-child,
  .line1 {
    width: 799px;
    max-width: 100%;
  }
  .faq-item-child {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
  .line1 {
    height: 1px;
    position: relative;
    border-top: 1px solid #262626;
    box-sizing: border-box;
  }
  .privacy1 {
    margin-bottom: 0;
  }
  .privacy {
    margin: 0;
    font-family: inherit;
    padding-left: 24px;
  }
  .our-privacy-policy {
    margin: 0;
    font-size: 16px;
  }
  .blank-line2 {
    margin: 0;
    font-size: 14px;
  }
  .third-party-links1 {
    margin-bottom: 0;
  }
  .third-party-links {
    margin: 0;
    font-family: inherit;
    padding-left: 24px;
  }
  .our-website-may {
    margin: 0;
    font-size: 16px;
  }
  .blank-line3 {
    margin: 0;
    font-size: 14px;
  }
  .limitation-of-liability1 {
    margin-bottom: 0;
  }
  .limitation-of-liability {
    margin: 0;
    font-family: inherit;
    padding-left: 24px;
  }
  .watcal-shall-not {
    margin: 0;
    font-size: 16px;
  }
  .blank-line4 {
    margin: 0;
    font-size: 14px;
  }
  .indemnification1 {
    margin-bottom: 0;
  }
  .indemnification {
    margin: 0;
    font-family: inherit;
    padding-left: 24px;
  }
  .you-agree-to1 {
    margin: 0;
    font-size: 16px;
  }
  .blank-line5 {
    margin: 0;
    font-size: 14px;
  }
  .changes-to-terms-and-policy1 {
    margin-bottom: 0;
  }
  .changes-to-terms-and-policy {
    margin: 0;
    font-family: inherit;
    padding-left: 24px;
  }
  .we-reserve-the {
    margin: 0;
    font-size: 16px;
  }
  .paragraph1 {
    width: 799px;
    position: relative;
    line-height: 150%;
    font-weight: 300;
    color: #b3b3b3;
    display: inline-block;
    max-width: 100%;
    font-size: 18px;
  }
  .faq-item1 {
    align-self: stretch;
    border-radius: 20px;
    border-left: 1px solid #06cc02;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px 75px;
    gap: 19.5px;
    max-width: 100%;
  }
  .items-list-parent,
  .terms-page-desktop-inner {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .items-list-parent {
    width: 1001px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 68px;
  }
  .terms-page-desktop-inner {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    padding: 0 23px 5px 20px;
    box-sizing: border-box;
    text-align: center;
    font-size: 20px;
    color: #fff;
    font-family: 'Lexend', sans-serif;
  }
  .logo-icon {
    height: 36px;
    width: 36px;
    position: relative;
    object-fit: contain;
    min-height: 36px;
  }
  .watcal {
    margin: 0;
    position: relative;
    font-size: inherit;
    line-height: 150%;
    font-weight: 400;
    font-family: inherit;
    display: inline-block;
    min-width: 86px;
  }
  .logo,
  .logo-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .logo {
    justify-content: flex-start;
    gap: 6px;
  }
  .logo-wrapper {
    width: 1116px;
    justify-content: center;
    max-width: 100%;
    font-size: 24px;
    color: #fff;
  }
  .text-button {
    position: relative;
    line-height: 150%;
    display: inline-block;
    min-width: 47px;
    cursor: pointer;
  }
  .text-button1,
  .text-button2,
  .text-button3 {
    position: relative;
    line-height: 150%;
    display: inline-block;
    cursor: pointer;
  }
  .text-button1 {
    min-width: 79px;
    white-space: nowrap;
  }
  .text-button2,
  .text-button3 {
    min-width: 47px;
  }
  .text-button3 {
    min-width: 64px;
  }
  .navigation-buttons,
  .navigation-links {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .navigation-buttons {
    justify-content: flex-start;
    gap: 26px;
  }
  .navigation-links {
    width: 1116px;
    justify-content: center;
    max-width: 100%;
  }
  .footer-divider {
    width: 1116px;
    height: 1px;
    position: relative;
    border-top: 1px solid #262626;
    box-sizing: border-box;
    max-width: 100%;
  }
  .icon4 {
    width: 20px;
    height: 20px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .icon-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2px 0 0;
  }
  .text-button4 {
    position: relative;
    line-height: 150%;
    white-space: nowrap;
  }
  .button {
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 6px;
  }
  .icon5 {
    width: 20px;
    height: 20px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .icon-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2px 0 0;
  }
  .text-button5 {
    position: relative;
    line-height: 150%;
    display: inline-block;
    min-width: 129px;
    white-space: nowrap;
  }
  .button1,
  .social-buttons,
  .social-links {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .button1 {
    border-radius: 6px;
    justify-content: flex-start;
    gap: 6px;
  }
  .social-buttons,
  .social-links {
    max-width: 100%;
  }
  .social-buttons {
    justify-content: flex-start;
    gap: 20px;
  }
  .social-links {
    width: 1116px;
    justify-content: center;
  }
  .footer-divider1 {
    width: 1116px;
    height: 1px;
    position: relative;
    border-top: 1px solid #262626;
    box-sizing: border-box;
    max-width: 100%;
  }
  .rights {
    position: relative;
    line-height: 150%;
    font-weight: 300;
  }
  .rights-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 12px 0 0;
  }
  .icon6 {
    width: 20px;
    height: 20px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .button2 {
    height: 48px;
    width: 48px;
    border-radius: 100px;
    background-color: #06cc02;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 14px;
    box-sizing: border-box;
    cursor: pointer;
  }
  .icon7 {
    width: 20px;
    height: 20px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .button3 {
    height: 48px;
    width: 48px;
    border-radius: 100px;
    background-color: #06cc02;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 14px;
    box-sizing: border-box;
    cursor: pointer;
  }
  .icon8 {
    width: 20px;
    height: 20px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .button4,
  .language-selector {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .button4 {
    height: 48px;
    width: 48px;
    border-radius: 100px;
    background-color: #06cc02;
    flex-direction: column;
    padding: 14px;
    box-sizing: border-box;
    cursor: pointer;
  }
  .language-selector {
    flex-direction: row;
    gap: 14px;
  }
  .text-button6 {
    position: relative;
    line-height: 150%;
    font-weight: 300;
    display: inline-block;
    min-width: 105px;
    cursor: pointer;
  }
  .button-divider {
    height: 25px;
    width: 1px;
    position: relative;
    border-right: 1px solid #b3b3b3;
    box-sizing: border-box;
  }
  .text-button7 {
    position: relative;
    line-height: 150%;
    font-weight: 300;
    display: inline-block;
    min-width: 125px;
    cursor: pointer;
  }
  .container,
  .legal-buttons,
  .legal-links {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .legal-buttons {
    height: 24px;
    flex-direction: row;
    gap: 11.5px;
  }
  .container,
  .legal-links {
    flex-direction: column;
    padding: 12px 0 0;
  }
  .container {
    width: 1116px;
    border-radius: 100px;
    background-color: #1a1a1a;
    border: 1px solid #262626;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
    padding: 6px 30px 6px 16px;
    gap: 20px;
    max-width: 100%;
    color: #b3b3b3;
  }
  .footer-section,
  .terms-page-desktop {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .footer-section {
    align-self: stretch;
    background-color: #1c1c1c;
    border-top: 1px solid #000;
    align-items: center;
    padding: 98px 20px 50px;
    gap: 49.6px;
    max-width: 100%;
    text-align: left;
    font-size: 16px;
    color: #e3e3e8;
    font-family: 'Lexend', sans-serif;
  }
  .terms-page-desktop {
    width: 100%;
    position: relative;
    background-color: #1a1a1a;
    overflow: hidden;
    align-items: flex-start;
    padding: 50px 0 3px;
    gap: 92px;
    line-height: normal;
    letter-spacing: normal;
  }
  @media screen and (max-width: 1000px) {
    .items-list-parent {
      gap: 34px;
    }
  }
  @media screen and (max-width: 975px) {
    .faq-item1 {
      padding-top: 20px;
      padding-bottom: 49px;
      box-sizing: border-box;
    }
    .container {
      flex-wrap: wrap;
    }
    .terms-page-desktop {
      gap: 46px;
    }
  }
  @media screen and (max-width: 725px) {
    .items-list-parent {
      gap: 17px;
    }
    .footer-section {
      gap: 25px;
      padding-top: 64px;
      padding-bottom: 32px;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .terms-and-policies {
      font-size: 16px;
      line-height: 14px;
    }
    .navbar {
      gap: 25px;
    }
    .policies,
    .terms {
      font-size: 16px;
      line-height: 24px;
    }
    .watcal {
      font-size: 19px;
      line-height: 29px;
    }
    .social-buttons {
      flex-wrap: wrap;
    }
    .terms-page-desktop {
      gap: 23px;
    }
  }