*{ margin: 0;
    border: 0;
    box-sizing: border-box;
}
.back-icon-shape {
    height: 21.7px;
    width: 12.8px;
    position: relative;
  }
  .material-symbolsarrow-back-io {
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    flex-shrink: 0;
    debug_commit: 69da668;
    cursor: pointer;
  }
  .material-symbolsarrow-back-io:hover{
    transition: .7s;
    background-color: #06cc02;
  }
  .report {
    align-self: stretch;
    position: relative;
    line-height: 18px;
    font-weight: 600;
    flex-shrink: 0;
    debug_commit: 69da668;
  }
  .report-title-container {
    width: 133px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 11.8px 0 0;
    box-sizing: border-box;
  }
  .back-icon-container {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
  }
  .navbar-container {
    width: 235.8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 0 4.1px;
    box-sizing: border-box;
  }
  .melissa-peters {
    text-decoration: none;
    align-self: stretch;
    position: relative;
    line-height: 28px;
    color: inherit;
    display: inline-block;
    min-width: 119px;
  }
  .user-name-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 12.5px 0 0;
  }
  .frame-child {
    height: 50px;
    width: 50px;
    position: relative;
  }
  .user-name-container-parent {
    width: 179px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    text-align: center;
    font-size: 16px;
    font-family: Lexend;
  }
  .navbar {
    align-self: stretch;
    border-radius: 100px;
    background-color: #1c1c1c;
    border: 1px solid #262626;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 35px 0 33px;
    gap: 20px;
    font-family: 'Lexend', sans-serif;
  }
  .container {
    margin: 0 !important;
    height: 63px;
    width: 214px;
    position: absolute;
    top: 0;
    left: 0;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
    display: flex;
    align-items: center;
  }
  .downloadbtn-child {
    height: 50px;
    width: 147px;
    position: relative;
    border-radius: 20px;
    display: none;
  }
  .export {
    height: 40px;
    flex: 1;
    position: relative;
    letter-spacing: -0.05em;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    cursor: pointer;
  }
  .downloadbtn:hover{
    transition: .7s;
    background-color: #06cc02;
  }
  .downloadbtn,
  .line {
    box-sizing: border-box;
  }
  .downloadbtn {
    width: 147px;
    margin: 0 !important;
    position: absolute;
    top: 0;
    left: 256px;
    border-radius: 20px;
    background-color: #1fe61c;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 3.5px 17px 6.5px 19px;
    gap: 10px;
    text-align: center;
    font-size: 16px;
    color: #1a1a1a;
  }
  .line {
    align-self: stretch;
    height: 1px;
    position: relative;
    border-top: 1px solid #06cc02;
  }
  .date,
  .empty-metadata-unit {
    position: relative;
    font-weight: 600;
  }
  .date {
    display: inline-block;
    min-width: 38px;
  }
  .empty-metadata-unit {
    align-self: stretch;
  }
  .date-parent,
  .metadata-units,
  .report-metadata-inner {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .metadata-units {
    flex: 1;
    flex-direction: column;
    padding: 1px 0 0;
    box-sizing: border-box;
    min-width: 132px;
    color: #fff;
  }
  .date-parent,
  .report-metadata-inner {
    flex-direction: row;
  }
  .date-parent {
    flex: 1;
    gap: 3px;
  }
  .report-metadata-inner {
    align-self: stretch;
    padding: 0 29px;
  }
  .line1 {
    align-self: stretch;
    height: 1px;
    position: relative;
    border-top: 1px solid #06cc02;
    box-sizing: border-box;
  }
  .b,
  .reading-time {
    position: relative;
    font-weight: 600;
    display: inline-block;
    min-width: 95px;
  }
  .b {
    flex: 1;
    color: #fff;
    min-width: 28px;
    white-space: nowrap;
  }
  .reading-time-parent,
  .report-metadata-child {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .reading-time-parent {
    flex: 1;
    gap: 2px;
  }
  .report-metadata-child {
    align-self: stretch;
    padding: 0 29px;
  }
  .line2 {
    align-self: stretch;
    height: 1px;
    position: relative;
    border-top: 1px solid #06cc02;
    box-sizing: border-box;
  }
  .kw,
  .reading-value {
    position: relative;
    font-weight: 600;
    display: inline-block;
    min-width: 102px;
  }
  .kw {
    flex: 1;
    color: #fff;
    min-width: 52px;
  }
  .frame-div,
  .reading-value-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .reading-value-parent {
    flex: 1;
    gap: 4px;
  }
  .frame-div {
    align-self: stretch;
    padding: 0 29px;
  }
  .line3 {
    align-self: stretch;
    height: 1px;
    position: relative;
    border-top: 1px solid #06cc02;
    box-sizing: border-box;
  }
  .b1,
  .last-reading-time {
    position: relative;
    font-weight: 600;
  }
  .last-reading-time {
    line-height: 150%;
    display: inline-block;
    min-width: 125px;
  }
  .b1 {
    align-self: stretch;
    height: 13px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    white-space: nowrap;
  }
  .wrapper {
    width: 115px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 0 2.5px;
    box-sizing: border-box;
    color: #fff;
  }
  .last-reading-time-parent,
  .report-metadata-inner1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .last-reading-time-parent {
    align-items: flex-end;
    gap: 4px;
  }
  .report-metadata-inner1 {
    align-items: flex-start;
    padding: 0 29px;
  }
  .line4 {
    align-self: stretch;
    height: 1px;
    position: relative;
    border-top: 1px solid #06cc02;
    box-sizing: border-box;
  }
  .kw1,
  .last-reading-value {
    position: relative;
    line-height: 150%;
    font-weight: 600;
  }
  .kw1 {
    width: 107px;
    font-weight: 700;
    color: #fff;
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }
  .last-reading-value-parent,
  .report-metadata-inner2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .last-reading-value-parent {
    gap: 4px;
  }
  .report-metadata-inner2 {
    padding: 0 29px;
  }
  .line5 {
    align-self: stretch;
    height: 1px;
    position: relative;
    border-top: 1px solid #06cc02;
    box-sizing: border-box;
  }
  .last-reading-date {
    position: relative;
    line-height: 150%;
    font-weight: 600;
    display: inline-block;
    min-width: 128px;
  }
  .b2,
  .frame {
    display: flex;
  }
  .b2 {
    align-self: stretch;
    height: 13px;
    position: relative;
    font-weight: 600;
    align-items: center;
    flex-shrink: 0;
  }
  .frame {
    width: 114px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 0 2.4px;
    box-sizing: border-box;
    color: #fff;
  }
  .last-reading-date-parent,
  .report-metadata-inner3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .last-reading-date-parent {
    align-items: flex-end;
    gap: 2px;
  }
  .report-metadata-inner3 {
    align-items: flex-start;
    padding: 0 29px;
  }
  .line6 {
    align-self: stretch;
    height: 1px;
    position: relative;
    border-top: 1px solid #06cc02;
    box-sizing: border-box;
  }
  .report-metadata {
    width: 100%;
    margin: 0 !important;
    position: absolute;
    top: 101px;
    left: 0;
    border-radius: 10px;
    background-color: #313131;
    border: 1px solid #06cc02;
    box-sizing: border-box;
    overflow: hidden;
    flex-shrink: 0;
    flex-direction: column;
    padding: 20px 48px 19px 51px;
    gap: 4.5px;
    font-size: 14px;
    color: #06cc02;
  }
  .container-parent,
  .frame-wrapper,
  .report-metadata {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .container-parent {
    align-self: stretch;
    height: 318.8px;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    gap: 38px 40px;
  }
  .frame-wrapper {
    width: 404px;
    flex-direction: column;
    padding: 50.6px 0 0;
    box-sizing: border-box;
    min-width: 404px;
    max-width: 100%;
  }
  .execution-recommendation,
  .pattern {
    margin: 0;
  }
  .execution-recommendation-patte-container {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
    display: inline-block;
    max-width: 100%;
  }
  .execution-recommendation-patte-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 62px;
    box-sizing: border-box;
    max-width: 100%;
  }
  .frame-item {
    width: 200px;
    height: 250px;
    position: relative;
    border-radius: 10px;
    background-color: #313131;
    border: 1px solid #000;
    box-sizing: border-box;
    display: none;
  }
  .june,
  .sunday {
    position: relative;
    text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
    z-index: 1;
  }
  .sunday {
    align-self: stretch;
    font-weight: 800;
  }
  .june {
    display: inline-block;
    min-width: 43px;
  }
  .day-number-containers {
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 60px 0 59px;
    font-size: 12px;
  }
  .day-containers,
  .day-number-containers,
  .week-containers {
    display: flex;
    align-items: flex-start;
  }
  .day-containers {
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    gap: 19px;
  }
  .week-containers {
    align-self: stretch;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 12px 0 15px;
  }
  .h-12h {
    width: 187.9px;
    position: relative;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
    z-index: 1;
  }
  .rectangle-parent {
    width: 200px;
    border-radius: 10px;
    background-color: #313131;
    border: 1px solid #000;
    box-sizing: border-box;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 14px 4px 102px;
    gap: 52px;
    debug_commit: 69da668;
  }
  .frame-inner {
    width: 200px;
    height: 250px;
    position: relative;
    border-radius: 10px;
    display: none;
  }
  .june1,
  .monday {
    position: relative;
    text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
    z-index: 1;
  }
  .monday {
    align-self: stretch;
    font-weight: 800;
  }
  .june1 {
    display: inline-block;
    min-width: 43px;
  }
  .june-wrapper {
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 60px 0 59px;
    font-size: 12px;
  }
  .frame-container,
  .june-wrapper,
  .monday-parent {
    display: flex;
    align-items: flex-start;
  }
  .monday-parent {
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    gap: 19px;
  }
  .frame-container {
    align-self: stretch;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 12px 0 15px;
  }
  .h-10h {
    align-self: stretch;
    position: relative;
    font-size: 14px;
    font-weight: 500;
    text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
    z-index: 1;
  }
  .rectangle-div,
  .vector-parent {
    border-radius: 10px;
    background-color: #313131;
    box-sizing: border-box;
  }
  .vector-parent {
    width: 200px;
    border: 0 solid #000;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 15.5px 5px 103.8px;
    gap: 52px;
    debug_commit: 69da668;
  }
  .rectangle-div {
    width: 199.9px;
    height: 250px;
    position: relative;
    border: 1px solid #000;
    display: none;
  }
  .june2,
  .tuesday {
    position: relative;
    text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
    z-index: 1;
  }
  .tuesday {
    align-self: stretch;
    font-weight: 800;
  }
  .june2 {
    display: inline-block;
    min-width: 43px;
  }
  .june-container {
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 60px 0 59px;
    font-size: 12px;
  }
  .frame-wrapper1,
  .june-container,
  .tuesday-parent {
    display: flex;
    align-items: flex-start;
  }
  .tuesday-parent {
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    gap: 19px;
  }
  .frame-wrapper1 {
    align-self: stretch;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 12px 0 15px;
  }
  .h-10h1 {
    width: 187.9px;
    position: relative;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
    z-index: 1;
  }
  .rectangle-group,
  .selected-day-highlight {
    border-radius: 10px;
    background-color: #313131;
    border: 1px solid #000;
    box-sizing: border-box;
  }
  .rectangle-group {
    width: 199.9px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 14px 4px 102px;
    gap: 52px;
    debug_commit: 69da668;
  }
  .selected-day-highlight {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .h-10h2,
  .june3,
  .wednesday {
    position: absolute;
    top: 56.5px;
    left: 78.7px;
    text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
    z-index: 1;
  }
  .h-10h2,
  .wednesday {
    top: 15.5px;
    left: 18.7px;
    font-size: 16px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 161.4px;
    height: 22px;
  }
  .h-10h2 {
    top: 124.5px;
    left: 5.7px;
    font-size: 14px;
    font-weight: 500;
    width: 187.1px;
    height: 21.7px;
  }
  .selected-day {
    height: 250px;
    width: 199.2px;
    position: relative;
    flex-shrink: 0;
    debug_commit: 69da668;
    font-size: 12px;
  }
  .calendar-weeks-child {
    width: 199.9px;
    height: 250px;
    position: relative;
    border-radius: 10px;
    background-color: #313131;
    border: 1px solid #000;
    box-sizing: border-box;
    display: none;
  }
  .june4,
  .thursday {
    align-self: stretch;
    position: relative;
    text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
    z-index: 1;
  }
  .thursday {
    font-weight: 800;
  }
  .june4 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .june-frame {
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 60px 0 59px;
    font-size: 12px;
  }
  .calendar-weeks-inner,
  .june-frame,
  .thursday-parent {
    align-self: stretch;
    flex: 1;
    display: flex;
    align-items: flex-start;
  }
  .thursday-parent {
    flex-direction: column;
    justify-content: flex-start;
    gap: 19px;
  }
  .calendar-weeks-inner {
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 12px 0 15px;
  }
  .h-10h3 {
    width: 187.9px;
    height: 21.7px;
    position: relative;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
    z-index: 1;
  }
  .calendar-weeks,
  .calendar-weeks-item {
    border-radius: 10px;
    background-color: #313131;
    border: 1px solid #000;
    box-sizing: border-box;
  }
  .calendar-weeks {
    align-self: stretch;
    width: 199.9px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 15.5px 4px 103.8px;
    gap: 52px;
    debug_commit: 69da668;
  }
  .calendar-weeks-item {
    width: 199.1px;
    height: 250px;
    position: relative;
    display: none;
  }
  .friday,
  .june5 {
    align-self: stretch;
    position: relative;
    text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
    z-index: 1;
  }
  .friday {
    font-weight: 800;
  }
  .june5 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .friday-parent,
  .june-wrapper1 {
    flex: 1;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .june-wrapper1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    padding: 0 59px;
    font-size: 12px;
  }
  .friday-parent {
    flex-direction: column;
    gap: 19px;
  }
  .calendar-weeks-inner1,
  .friday-parent,
  .h-15h {
    align-self: stretch;
    display: flex;
  }
  .calendar-weeks-inner1 {
    flex: 1;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 12px 0 14px;
  }
  .h-15h {
    height: 21.7px;
    position: relative;
    font-size: 14px;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
    z-index: 1;
  }
  .calendar-weeks-child1,
  .calendar-weeks1 {
    border-radius: 10px;
    background-color: #313131;
    border: 1px solid #000;
    box-sizing: border-box;
  }
  .calendar-weeks1 {
    align-self: stretch;
    width: 199.1px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 15.5px 5px 103.8px 4px;
    gap: 52px;
    debug_commit: 69da668;
  }
  .calendar-weeks-child1 {
    width: 199.9px;
    height: 250px;
    position: relative;
    display: none;
  }
  .june6,
  .saturday {
    align-self: stretch;
    position: relative;
    text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
    z-index: 1;
  }
  .saturday {
    font-weight: 800;
  }
  .june6 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .june-wrapper2 {
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 60px 0 59px;
    font-size: 12px;
  }
  .calendar-weeks-inner2,
  .june-wrapper2,
  .saturday-parent {
    align-self: stretch;
    flex: 1;
    display: flex;
    align-items: flex-start;
  }
  .saturday-parent {
    flex-direction: column;
    justify-content: flex-start;
    gap: 19px;
  }
  .calendar-weeks-inner2 {
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 12px 0 15px;
  }
  .h-18h {
    width: 187.9px;
    height: 21.7px;
    position: relative;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
    z-index: 1;
  }
  .calendar-weeks-child2,
  .calendar-weeks2 {
    border-radius: 10px;
    background-color: #313131;
    border: 1px solid #000;
    box-sizing: border-box;
  }
  .calendar-weeks2 {
    align-self: stretch;
    width: 199.9px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 15.5px 4px 103.8px;
    gap: 52px;
    debug_commit: 69da668;
  }
  .calendar-weeks-child2 {
    width: 200px;
    height: 250px;
    position: relative;
    display: none;
  }
  .june7,
  .sunday1 {
    align-self: stretch;
    position: relative;
    text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
    z-index: 1;
  }
  .sunday1 {
    font-weight: 800;
  }
  .june7 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .june-wrapper3 {
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 60px 0 59px;
    font-size: 12px;
  }
  .calendar-weeks-inner3,
  .june-wrapper3,
  .sunday-parent {
    align-self: stretch;
    flex: 1;
    display: flex;
    align-items: flex-start;
  }
  .sunday-parent {
    flex-direction: column;
    justify-content: flex-start;
    gap: 19px;
  }
  .calendar-weeks-inner3 {
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 12px 0 15px;
  }
  .calendar-weeks3,
  .h-12h1 {
    flex-shrink: 0;
    display: flex;
  }
  .h-12h1 {
    width: 187.9px;
    height: 21.7px;
    position: relative;
    font-size: 14px;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
    z-index: 1;
  }
  .calendar-weeks3 {
    align-self: stretch;
    width: 200px;
    border-radius: 10px;
    background-color: #313131;
    border: 1px solid #000;
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 15.5px 4px 103.8px;
    gap: 52px;
    debug_commit: 69da668;
  }
  .rectangle-icon {
    width: 200px;
    height: 250px;
    position: relative;
    border-radius: 10px;
    display: none;
  }
  .monday1 {
    align-self: stretch;
    position: relative;
    font-weight: 800;
    text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
    z-index: 1;
  }
  .june-wrapper4,
  .june8 {
    align-self: stretch;
    flex: 1;
    display: flex;
  }
  .june8 {
    position: relative;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
    z-index: 1;
  }
  .june-wrapper4 {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 58px 0 60px;
    font-size: 12px;
  }
  .calendar-weeks-inner4,
  .monday-group {
    align-self: stretch;
    flex: 1;
    display: flex;
    justify-content: flex-start;
  }
  .monday-group {
    flex-direction: column;
    align-items: flex-end;
    gap: 17.9px;
  }
  .calendar-weeks-inner4 {
    flex-direction: row;
    align-items: flex-start;
    padding: 0 14px 0 12px;
  }
  .h-10h4 {
    align-self: stretch;
    height: 21.7px;
    position: relative;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
    z-index: 1;
  }
  .calendar-weeks-child3,
  .calendar-weeks4 {
    border-radius: 10px;
    background-color: #313131;
    box-sizing: border-box;
  }
  .calendar-weeks4 {
    align-self: stretch;
    width: 200px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 16.6px 6px 103px;
    gap: 52.8px;
    debug_commit: 69da668;
  }
  .calendar-weeks-child3 {
    width: 199.9px;
    height: 250px;
    position: relative;
    border: 1px solid #000;
    display: none;
  }
  .june9,
  .tuesday1 {
    align-self: stretch;
    position: relative;
    text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
    z-index: 1;
  }
  .tuesday1 {
    font-weight: 800;
  }
  .june9 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .june-wrapper5 {
    flex-direction: row;
    padding: 0 59px;
    font-size: 12px;
  }
  .calendar-weeks-inner5,
  .june-wrapper5,
  .tuesday-group {
    align-self: stretch;
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .tuesday-group {
    flex-direction: column;
    gap: 18.7px;
  }
  .calendar-weeks-inner5 {
    flex-direction: row;
    padding: 0 14px 0 12px;
  }
  .h-10h5 {
    align-self: stretch;
    height: 21.7px;
    position: relative;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
    z-index: 1;
  }
  .calendar-weeks-child4,
  .calendar-weeks5 {
    border-radius: 10px;
    background-color: #313131;
    border: 1px solid #000;
    box-sizing: border-box;
  }
  .calendar-weeks5 {
    align-self: stretch;
    width: 199.9px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 15.8px 4px 103.8px 5px;
    gap: 52px;
    debug_commit: 69da668;
  }
  .calendar-weeks-child4 {
    width: 199.1px;
    height: 250px;
    position: relative;
    display: none;
  }
  .june10,
  .wednesday1 {
    position: relative;
    text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
    z-index: 1;
  }
  .wednesday1 {
    align-self: stretch;
    font-weight: 800;
  }
  .june10 {
    align-items: center;
    justify-content: center;
  }
  .june-wrapper6,
  .june10,
  .wednesday-parent {
    align-self: stretch;
    flex: 1;
    display: flex;
  }
  .june-wrapper6 {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 58px 0 60px;
    font-size: 12px;
  }
  .wednesday-parent {
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 19px;
  }
  .calendar-weeks-inner6 {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 12px 0 14px;
  }
  .h-10h6 {
    align-self: stretch;
    height: 21.7px;
    position: relative;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
    z-index: 1;
  }
  .calendar-weeks-child5,
  .calendar-weeks6 {
    border-radius: 10px;
    background-color: #313131;
    border: 1px solid #000;
    box-sizing: border-box;
  }
  .calendar-weeks6 {
    align-self: stretch;
    width: 199.1px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 15.5px 5px 103.8px 4px;
    gap: 52px;
    debug_commit: 69da668;
  }
  .calendar-weeks-child5 {
    width: 199.9px;
    height: 250px;
    position: relative;
    display: none;
  }
  .june11,
  .thursday1 {
    align-self: stretch;
    position: relative;
    text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
    z-index: 1;
  }
  .thursday1 {
    font-weight: 800;
  }
  .june11 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .june-wrapper7 {
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 60px 0 59px;
    font-size: 12px;
  }
  .calendar-weeks-inner7,
  .june-wrapper7,
  .thursday-group {
    align-self: stretch;
    flex: 1;
    display: flex;
    align-items: flex-start;
  }
  .thursday-group {
    flex-direction: column;
    justify-content: flex-start;
    gap: 19px;
  }
  .calendar-weeks-inner7 {
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 12px 0 15px;
  }
  .h-10h7 {
    width: 187.9px;
    height: 21.7px;
    position: relative;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
    z-index: 1;
  }
  .calendar-weeks-child6,
  .calendar-weeks7 {
    border-radius: 10px;
    background-color: #313131;
    border: 1px solid #000;
    box-sizing: border-box;
  }
  .calendar-weeks7 {
    align-self: stretch;
    width: 199.9px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 15.5px 4px 103.8px;
    gap: 52px;
    debug_commit: 69da668;
  }
  .calendar-weeks-child6 {
    width: 199.1px;
    height: 250px;
    position: relative;
    display: none;
  }
  .friday1,
  .june12 {
    align-self: stretch;
    position: relative;
    text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
    z-index: 1;
  }
  .friday1 {
    font-weight: 800;
  }
  .june12 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .june-wrapper8 {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 58px 0 60px;
    font-size: 12px;
  }
  .calendar-weeks-inner8,
  .friday-group,
  .june-wrapper8 {
    align-self: stretch;
    flex: 1;
    display: flex;
  }
  .friday-group {
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 19px;
  }
  .calendar-weeks-inner8 {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 12px 0 14px;
  }
  .h-15h1 {
    align-self: stretch;
    height: 21.7px;
    position: relative;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
    z-index: 1;
  }
  .calendar-weeks-child7,
  .calendar-weeks8 {
    border-radius: 10px;
    background-color: #313131;
    border: 1px solid #000;
    box-sizing: border-box;
  }
  .calendar-weeks8 {
    align-self: stretch;
    width: 199.1px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 15.5px 5px 103.8px 4px;
    gap: 52px;
    debug_commit: 69da668;
  }
  .calendar-weeks-child7 {
    width: 199.9px;
    height: 250px;
    position: relative;
    display: none;
  }
  .june13,
  .saturday1 {
    align-self: stretch;
    position: relative;
    text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
    z-index: 1;
  }
  .saturday1 {
    font-weight: 800;
  }
  .june13 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .june-wrapper9 {
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 60px 0 59px;
    font-size: 12px;
  }
  .calendar-weeks-inner9,
  .june-wrapper9,
  .saturday-group {
    align-self: stretch;
    flex: 1;
    display: flex;
    align-items: flex-start;
  }
  .saturday-group {
    flex-direction: column;
    justify-content: flex-start;
    gap: 19px;
  }
  .calendar-weeks-inner9 {
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 12px 0 15px;
  }
  .h-18h1 {
    width: 187.9px;
    height: 21.7px;
    position: relative;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
    z-index: 1;
  }
  .calendar-weeks9,
  .usage-calendar {
    flex-shrink: 0;
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .calendar-weeks9 {
    align-self: stretch;
    width: 199.9px;
    border-radius: 10px;
    background-color: #313131;
    border: 1px solid #000;
    flex-direction: column;
    align-items: flex-end;
    padding: 15.5px 4px 103.8px;
    gap: 52px;
    debug_commit: 69da668;
  }
  .usage-calendar {
    width: 725px;
    height: 322px;
    background-color: #1a1a1a;
    overflow-x: auto;
    flex-direction: row;
    align-items: flex-start;
    padding: 36px 20px;
    gap: 30px;
    max-width: 100%;
    font-size: 16px;
  }
  .frame-group {
    flex: 1;
    border-radius: 20px;
    background-color: #1b1b1b;
    border: 1px solid #2f2b29;
    box-sizing: border-box;
    overflow: hidden;
    flex-direction: column;
    padding: 12px 6px;
    gap: 16px;
    min-width: 480px;
    text-align: center;
    font-size: 20px;
  }
  .frame-group,
  .frame-parent,
  .navbar-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .frame-parent {
    align-self: stretch;
    border-radius: 20px;
    background-color: rgba(28, 28, 28, 0.5);
    border: 1px solid #000;
    box-sizing: border-box;
    overflow: hidden;
    flex-direction: row;
    padding: 3px 14px 3px 15px;
    gap: 23px;
    font-size: 24px;
    font-family: Nunito;
  }
  .navbar-parent {
    width: 1197.5px;
    flex-direction: column;
    gap: 50px;
  }
  .report-page-desktop-inner {
    align-self: stretch;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 20px;
    box-sizing: border-box;
    text-align: left;
    font-size: 20px;
    color: #fff;
    font-family: Inter;
  }
  .percentage-usage,
  .percentage-usage-wrapper,
  .report-page-desktop-inner {
    display: flex;
    justify-content: center;
    max-width: 100%;
  }
  .usage-chart-container-wrapper{
    margin-right: 120px;
  }
  .usage-chart-container{
    border-radius: 20px;
  }
  .percentage-usage {
    margin: 0;
    width: 721px;
    position: relative;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
    align-items: center;
    flex-shrink: 0;
  }
  .percentage-usage-wrapper {
    align-self: stretch;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 21px 0 20px;
    box-sizing: border-box;
  }
  .total-electricity-consumption {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
  }
  .tick-label,
  .y-axis-label {
    position: relative;
    display: inline-block;
    min-width: 29px;
  }
  .tick-label {
    height: 24px;
    flex: 1;
    min-width: 25.3px;
  }
  .y-axis-tick {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 1px 0 3px;
  }
  .chart-y-axis,
  .chart-y-axis1 {
    width: 25.7px;
    height: 24px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    min-width: 25.7px;
  }
  .chart-grid {
    width: 29px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 41px;
    flex-shrink: 0;
    debug_commit: 69da668;
  }
  .vector-icon {
    width: 5.8px;
    height: 1px;
    position: relative;
  }
  .bar-top-icon {
    position: absolute;
    top: 256.4px;
    left: 0.7px;
    width: 717.1px;
    height: 1px;
  }
  .bar-bottom-icon,
  .bar-label-icon {
    position: absolute;
    margin: 0 !important;
  }
  .bar-bottom-icon {
    height: 9.6px;
    width: 1px;
    right: 1.5px;
    bottom: 2px;
  }
  .bar-label-icon {
    height: 1px;
    width: 7px;
    bottom: 10.6px;
    left: -1.6px;
    z-index: 1;
  }
  .bar-percentage {
    height: 24px;
    position: relative;
    display: inline-block;
    min-width: 8px;
    z-index: 2;
  }
  .bar-value {
    position: absolute;
    top: 244px;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .group-icon,
  .vector-icon1 {
    position: absolute;
    top: 2.8px;
    left: 5.5px;
    width: 1px;
    height: 256.5px;
    z-index: 3;
  }
  .group-icon {
    top: 0;
    width: 717.1px;
    z-index: 4;
  }
  .vector-icon2,
  .vector-icon3 {
    height: 9.6px;
    width: 1px;
    position: absolute;
    margin: 0 !important;
    bottom: -6px;
    left: 83.2px;
  }
  .vector-icon3 {
    left: 162.9px;
  }
  .vector-icon4 {
    left: 242.6px;
  }
  .vector-icon4,
  .vector-icon5,
  .vector-icon6,
  .vector-icon7 {
    height: 9.6px;
    width: 1px;
    position: absolute;
    margin: 0 !important;
    bottom: -6px;
  }
  .vector-icon5 {
    left: 322.3px;
  }
  .vector-icon6,
  .vector-icon7 {
    right: 321.4px;
    z-index: 1;
  }
  .vector-icon7 {
    right: 241.7px;
  }
  .vector-icon8 {
    right: 162px;
    z-index: 1;
  }
  .vector-icon10,
  .vector-icon8,
  .vector-icon9 {
    height: 9.6px;
    width: 1px;
    position: absolute;
    margin: 0 !important;
    bottom: -6px;
  }
  .vector-icon9 {
    right: 82.3px;
    z-index: 1;
  }
  .vector-icon10 {
    right: 2.7px;
  }
  .vector-icon11,
  .vector-icon12,
  .vector-icon13 {
    height: 1px;
    width: 6.7px;
    position: absolute;
    margin: 0 !important;
    left: -3.1px;
  }
  .vector-icon11 {
    bottom: 67.1px;
  }
  .vector-icon12,
  .vector-icon13 {
    top: 127.5px;
  }
  .vector-icon13 {
    width: 6.9px;
    top: 63.4px;
    left: -3.3px;
  }
  .group-icon1 {
    height: 259.7px;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    z-index: 5;
  }
  .all-bars,
  .group-icon2 {
    position: absolute;
    left: 1.9px;
    width: 724.3px;
  }
  .all-bars {
    top: 0.3px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .group-icon2 {
    top: 3.6px;
    height: 239.7px;
    z-index: 6;
  }
  .bar-end {
    align-self: stretch;
    height: 268px;
    position: relative;
    max-width: 100%;
  }
  .x-axis-labels,
  .x-axis-labels1 {
    position: relative;
    display: inline-block;
    min-width: 9.6px;
  }
  .x-axis-labels1 {
    min-width: 7.2px;
  }
  .x-axis-labels2,
  .x-axis-labels3,
  .x-axis-labels4 {
    position: relative;
    display: inline-block;
    min-width: 9.6px;
  }
  .chart-x-axis,
  .chart-x-axis-labels {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .chart-x-axis-labels {
    flex: 1;
    justify-content: space-between;
    gap: 20px;
  }
  .chart-x-axis {
    width: 715.8px;
    justify-content: flex-start;
    padding: 0 34px;
    box-sizing: border-box;
    text-align: center;
  }
  .bar-end-parent {
    align-self: stretch;
    flex-direction: column;
    gap: 11.7px;
    margin-top: -1px;
  }
  .bar-components,
  .bar-end-parent,
  .chart-bar {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .bar-components {
    width: 726.6px;
    flex-direction: column;
    flex-shrink: 0;
    debug_commit: 69da668;
  }
  .chart-bar {
    align-self: stretch;
    flex-direction: row;
    padding: 0 1px;
    box-sizing: border-box;
    text-align: right;
  }
  .chart-bars-container,
  .empty-bar {
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    debug_commit: 69da668;
  }
  .chart-bars-container {
    margin-right: -350.7px;
    width: 10px;
    margin-top: -15px;
  }
  .empty-bar {
    width: 9.6px;
  }
  .chart-bars-container1 {
    width: 646.3px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 20px;
    box-sizing: border-box;
    max-width: 100%;
    margin-top: -15px;
  }
  .div {
    width: 9.6px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    debug_commit: 69da668;
  }
  .chart-bars-container2 {
    width: 328px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 20px;
    box-sizing: border-box;
    max-width: 100%;
    margin-top: -15px;
  }
  .chart-bars-container3,
  .chart-bars-container4 {
    width: 8.4px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    debug_commit: 69da668;
    margin-top: -15px;
  }
  .chart-bars-container4 {
    margin-right: -159.3px;
    width: 9.6px;
  }
  .chart-bar-parent,
  .chart-bars {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    flex-shrink: 0;
  }
  .chart-bar-parent {
    align-self: stretch;
    align-items: flex-end;
    padding: 0 86px 0 0;
    debug_commit: 69da668;
    max-width: 100%;
  }
  .chart-bars {
    width: 1246.9px;
    align-items: flex-start;
    padding: 6px 0 0;
    max-width: 162%;
    text-align: center;
  }
  .chart {
    width: 772px;
    overflow: hidden;
    flex-shrink: 0;
    flex-direction: row;
    padding: 5.3px 0 14.6px;
    gap: 4.1px;
    max-width: 100%;
  }
  .chart,
  .chart-container,
  .dash {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .chart-container {
    margin-left: -31.5px;
    border-radius: 5px;
    background-color: #313131;
    overflow-x: auto;
    flex-direction: row;
    padding: 7.3px 0 25.1px 12px;
    max-width: 110%;
    flex-shrink: 0;
    text-align: right;
    font-size: 12px;
    color: white;
    font-family: Inter;
  }
  .dash {
    width: 781px;
    border-radius: 16px;
    flex-direction: column;
    padding: 28px 30px 4px;
    gap: 40px;
    background-image: url(./public/dash@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    opacity: 0.9;
    min-width: 781px;
    max-width: 100%;
  }
  .percentage-label {
    height: 199px;
    flex: 1;
    position: relative;
    line-height: 150%;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 0 0#bfbfbf, 0 1px 0#bfbfbf, -1px 0 0#bfbfbf, 0-1px 0#bfbfbf;
    z-index: 1;
  }
  .percentage {
    align-self: stretch;
    flex: 1;
    border-radius: 25px;
    background-color: #1a1a1a;
    border: 1px solid #bfbfbf;
    box-sizing: border-box;
    overflow: hidden;
    flex-direction: row;
    padding: 104px 15px 104px 16px;
  }
  .percentage,
  .percentage-wrapper,
  .usage-percentage {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .percentage-wrapper {
    align-self: stretch;
    flex: 1;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.3);
    flex-direction: row;
  }
  .usage-percentage {
    height: 442px;
    width: 349.5px;
    flex-direction: column;
    padding: 14px 0 0;
    box-sizing: border-box;
    min-width: 349.5px;
    font-size: 80px;
    color: #bfbfbf;
  }
  .electricity-consumption-chart {
    background-color: #1c1c1c;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    gap: 20px;
    font-size: 20px;
  }
  .electricity-consumption-chart,
  .usage-chart-container,
  .usage-chart-container-wrapper {
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    max-width: 100%;
  }
  .usage-chart-container {
    width: 1182px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 1px;
    gap: 10px;
  }
  .usage-chart-container-wrapper {
    width: 1424px;
    flex-direction: row;
    justify-content: center;
    padding: 0 20px;
    text-align: center;
    font-size: 25px;
    color: #fff;
    font-family: Nunito;
  }
  .logo-icon {
    height: 36px;
    width: 36px;
    position: relative;
    object-fit: contain;
    min-height: 36px;
  }
  .watcal {
    position: relative;
    line-height: 150%;
    display: inline-block;
    min-width: 86px;
  }
  .footer-content,
  .logo-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .logo-parent {
    justify-content: flex-start;
    gap: 6px;
  }
  .footer-content {
    width: 1116px;
    justify-content: center;
    max-width: 100%;
    font-size: 24px;
    color: #fff;
  }
  .text-button {
    position: relative;
    line-height: 150%;
    display: inline-block;
    min-width: 47px;
    cursor: pointer;
  }
  .text-button1,
  .text-button2,
  .text-button3 {
    position: relative;
    line-height: 150%;
    display: inline-block;
    cursor: pointer;
  }
  .text-button1 {
    min-width: 79px;
    white-space: nowrap;
  }
  .text-button2,
  .text-button3 {
    min-width: 47px;
  }
  .text-button3 {
    min-width: 64px;
  }
  .nav-link-container,
  .navigation {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .nav-link-container {
    justify-content: flex-start;
    gap: 26px;
  }
  .navigation {
    width: 1116px;
    justify-content: center;
    max-width: 100%;
  }
  .icon,
  .line7 {
    position: relative;
  }
  .line7 {
    width: 1116px;
    height: 1px;
    border-top: 1px solid #262626;
    box-sizing: border-box;
    max-width: 100%;
  }
  .icon {
    width: 20px;
    height: 20px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .user-action-button-icons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2px 0 0;
  }
  .text-button4 {
    position: relative;
    line-height: 150%;
    white-space: nowrap;
  }
  .button {
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 6px;
  }
  .icon1 {
    width: 20px;
    height: 20px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .icon-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2px 0 0;
  }
  .text-button5 {
    position: relative;
    line-height: 150%;
    display: inline-block;
    min-width: 129px;
    white-space: nowrap;
  }
  .button1 {
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 6px;
  }
  .user-actions-container,
  .user-actions-container-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .user-actions-container {
    justify-content: flex-start;
    gap: 20px;
  }
  .user-actions-container-wrapper {
    width: 1116px;
    justify-content: center;
  }
  .line8,
  .text {
    position: relative;
  }
  .line8 {
    width: 1116px;
    height: 1px;
    border-top: 1px solid #262626;
    box-sizing: border-box;
    max-width: 100%;
  }
  .text {
    line-height: 150%;
    font-weight: 300;
  }
  .text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 12px 0 0;
  }
  .icon2 {
    width: 20px;
    height: 20px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .button2 {
    height: 48px;
    width: 48px;
    border-radius: 100px;
    background-color: #06cc02;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 14px;
    box-sizing: border-box;
    cursor: pointer;
  }
  .icon3 {
    width: 20px;
    height: 20px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .button3 {
    height: 48px;
    width: 48px;
    border-radius: 100px;
    background-color: #06cc02;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 14px;
    box-sizing: border-box;
    cursor: pointer;
  }
  .icon4 {
    width: 20px;
    height: 20px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .button-parent,
  .button4 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .button4 {
    height: 48px;
    width: 48px;
    border-radius: 100px;
    background-color: #06cc02;
    flex-direction: column;
    padding: 14px;
    box-sizing: border-box;
    cursor: pointer;
  }
  .button-parent {
    flex-direction: row;
    gap: 14px;
  }
  .text-button6 {
    position: relative;
    line-height: 150%;
    font-weight: 300;
    display: inline-block;
    min-width: 105px;
    cursor: pointer;
    color: #bfbfbf;
    text-decoration: none;
  }
  .separator {
    height: 25px;
    width: 1px;
    position: relative;
    border-right: 1px solid #b3b3b3;
    box-sizing: border-box;
  }
  .text-button7 {
    position: relative;
    line-height: 150%;
    font-weight: 300;
    display: inline-block;
    min-width: 125px;
    cursor: pointer;
    color: #bfbfbf;
    text-decoration: none;
  }
  .container-inner,
  .container1,
  .text-button-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .text-button-parent {
    height: 24px;
    flex-direction: row;
    gap: 11.5px;
  }
  .container-inner,
  .container1 {
    flex-direction: column;
    padding: 12px 0 0;
  }
  .container1 {
    width: 1116px;
    border-radius: 100px;
    background-color: #1a1a1a;
    border: 1px solid #262626;
    box-sizing: border-box;
    overflow-x: auto;
    flex-direction: row;
    justify-content: space-between;
    padding: 6px 30px 6px 16px;
    gap: 20px;
    max-width: 100%;
    color: #b3b3b3;
  }
  .footer-section,
  .report-page-desktop {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .footer-section {
    align-self: stretch;
    background-color: #1c1c1c;
    border-top: 1px solid #000;
    align-items: center;
    padding: 98px 20px 50px;
    gap: 49.6px;
    max-width: 100%;
    text-align: left;
    font-size: 16px;
    color: #e3e3e8;
    font-family: 'Lexend', sans-serif;  }
  .report-page-desktop {
    width: 100%;
    position: relative;
    background-color: #1a1a1a;
    overflow: hidden;
    align-items: flex-end;
    padding: 50px 0 0;
    gap: 78.5px;
    line-height: normal;
    letter-spacing: normal;
  }
  @media screen and (max-width: 1200px) {
    .chart-bar-parent {
      padding-right: 43px;
      box-sizing: border-box;
    }
    .dash,
    .usage-percentage {
      flex: 1;
    }
    .electricity-consumption-chart {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 1050px) {
    .frame-wrapper {
      flex: 1;
    }
    .frame-parent {
      flex-wrap: wrap;
    }
    .dash {
      min-width: 100%;
    }
    .percentage-label {
      font-size: 40px;
      line-height: 72px;
    }
  }
  @media screen and (max-width: 750px) {
    .navbar {
      flex-wrap: wrap;
    }
    .frame-wrapper {
      min-width: 100%;
    }
    .execution-recommendation-patte-wrapper {
      padding-left: 31px;
      padding-right: 31px;
      box-sizing: border-box;
    }
    .frame-group {
      min-width: 100%;
    }
    .navbar-parent {
      gap: 25px;
    }
    .chart-bar-parent {
      padding-right: 21px;
      box-sizing: border-box;
    }
    .footer-section {
      gap: 25px;
      padding-top: 64px;
      padding-bottom: 32px;
      box-sizing: border-box;
    }
    .report-page-desktop {
      gap: 39px;
    }
  }
  @media screen and (max-width: 450px) {
    .report {
      font-size: 16px;
      line-height: 14px;
    }
    .container {
      font-size: 19px;
    }
    .date-parent,
    .last-reading-date-parent,
    .last-reading-time-parent,
    .last-reading-value-parent,
    .reading-time-parent,
    .reading-value-parent {
      flex-wrap: wrap;
    }
    .report-metadata {
      padding-left: 20px;
      padding-right: 20px;
      box-sizing: border-box;
    }
    .container-parent {
      height: auto;
      min-height: 318.8000000000002;
    }
    .frame-wrapper {
      padding-top: 33px;
      box-sizing: border-box;
    }
    .execution-recommendation-patte-container {
      font-size: 16px;
    }
    .percentage-usage {
      font-size: 20px;
    }
    .total-electricity-consumption {
      font-size: 16px;
    }
    .x-axis-labels {
      width: 100%;
      height: 9.6px;
    }
    .x-axis-labels1 {
      width: 100%;
      height: 7.2px;
    }
    .x-axis-labels2,
    .x-axis-labels3,
    .x-axis-labels4 {
      width: 100%;
      height: 9.6px;
    }
    .chart-x-axis-labels {
      flex-wrap: wrap;
    }
    .dash {
      gap: 20px;
    }
    .percentage-label {
      font-size: 24px;
      line-height: 48px;
    }
    .percentage {
      padding-top: 68px;
      padding-bottom: 68px;
      box-sizing: border-box;
    }
    .usage-percentage {
      min-width: 100%;
    }
    .watcal {
      font-size: 19px;
      line-height: 29px;
    }
    .user-actions-container {
      flex-wrap: wrap;
    }
    .report-page-desktop {
      gap: 20px;
    }
  }

  .Child {
    height: 335px;
    width: 500px;
    position: relative;
    border-radius: 50px;
    background-color: #1a1a1a;
    border: 1px solid #000;
    box-sizing: border-box;
    display: none;
    max-width: 100%;
  }
  .down {
    text-decoration: none;
    align-self: stretch;
    height: 27px;
    position: relative;
    font-weight: 700;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    z-index: 1;
  }
  .file-pdf-regular-1-icon {
    height: 50px;
    width: 50px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .file-pdf-regular-1-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 75px;
  }
  .reports {
    align-self: stretch;
    height: 60px;
    position: relative;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }
  .R,
  .R-wrapper {
    display: flex;
    align-items: flex-start;
  }
  .R {
    flex: 1;
    border-radius: 50px;
    background-color: #ff0505;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    padding: 50px 0 30px;
    gap: 13px;
    z-index: 1;
  }
  .R:hover{
    background-color: #f80101;
    cursor: pointer;
  }
  .csvbtn:hover{
    background-color: #04fb00;
    cursor: pointer;
  }
  .R-wrapper {
    width: 224px;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 12px;
    box-sizing: border-box;
    color: #1a1a1a;
  }
  .downParent {
    width: 251px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 27px;
    min-width: 251px;
  }
  .close-icon {
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 2;
    top: 15px;
    right: 4px;
    cursor: pointer;
  }
  .file-csv-solid-1-icon {
    height: 50px;
    width: 50px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .file-csv-solid-1-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 75px;
  }
  .csvbtn,
  .dt {
    align-self: stretch;
  }
  .dt {
    height: 60px;
    position: relative;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
  }
  .csvbtn {
    border-radius: 50px;
    background-color: #06cc02;
    overflow: hidden;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 50px 0 30px;
    gap: 9px;
    z-index: 1;
  }
  .csvbtn:hover{
    transition: .7s;
    background-color: #1fe61c;
  }
  .R:hover{
    background-color: #cf1717;
  }
  .close-parent,
  .csvbtn,
  .cover {
    display: flex;
    flex-direction: column;
  }
  .close-parent {
    align-self: stretch;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 42px;
  }
  .cover {
    width: 200px;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 0 4px;
    box-sizing: border-box;
    min-width: 200px;
    color: #1a1a1a;
  }
  .downloadmenu,
  .Parent {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .Parent {
    flex: 1;
    border-radius: 50px;
    background-color: #1a1a1a;
    border: 1px solid #000;
    box-sizing: border-box;
    align-items: flex-end;
    padding: 10px 1px 31px;
    gap: 8px;
    max-width: 100%;
    text-align: center;
    font-size: 20px;
    color: #fff;
    font-family: Nunito;
  }
  .downloadmenu {
    width: 29.8%;
    position: relative;
    align-items: flex-start;
    line-height: normal;
    letter-spacing: normal;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 9999;
    transition: all .5s ease-in-out;
  }
  @media screen and (max-width: 450px) {
    .dt,
    .download,
    .reports {
      font-size: 16px;
    }
  }
  @media screen and (max-width: 438px) {
    .download-parent,
    .cover {
      flex: 1;
    }
    .Parent {
      flex-wrap: wrap;
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
}
  .disable-scroll {
    overflow: hidden; 
}

.popup-open .blur-background {
    transition: 0.8s ease-in-out;
    filter: blur(2px);
}
