*{ margin: 0;
    border: 0;
    box-sizing: border-box;
}
.icon {
    height: 25px;
    width: 25px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .button {
    border-radius: 82px;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 6px 14px;
    cursor: pointer;
  }
  .button:hover{
    transition: .7s;
    background-color: #06cc02;
  }
  .text-button{
    cursor: pointer;
  }
  .analysis {
    flex: 1;
    position: relative;
    line-height: 130%;
    font-weight: 500;
  }
  .analysis-wrapper,
  .button-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .analysis-wrapper {
    height: 25px;
    flex: 1;
    justify-content: center;
    padding: 0;
    box-sizing: border-box;
  }
  .button-parent {
    width: 195px;
    justify-content: flex-start;
    gap: 10px;
  }
  .melissa-peters {
    text-decoration: none;
    flex: 1;
    position: relative;
    line-height: 28px;
    color: inherit;
    display: inline-block;
    min-width: 119px;
  }
  .user-options-child {
    height: 50px;
    width: 50px;
    position: relative;
  }
  .navbar,
  .user-options {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .user-options {
    width: 179px;
    justify-content: flex-start;
    gap: 10px;
    text-align: center;
    font-size: 16px;
  }
  .navbar {
    align-self: stretch;
    border-radius: 100px;
    background-color: #1c1c1c;
    border: 1px solid #262626;
    justify-content: space-between;
    padding: 0 34px;
    gap: 20px;
    font-family: 'Lexend', sans-serif;
  }
  .container-title-placeholder,
  .container1 {
    position: relative;
    display: flex;
    align-items: center;
  }
  .container1 {
    height: 43px;
    min-width: 94px;
  }
  .container-title-placeholder {
    height: 41px;
    width: 151px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    justify-content: center;
    flex-shrink: 0;
    white-space: nowrap;
  }
  .eye-action-background {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    background-color: #2522b9;
    width: 100%;
    height: 100%;
  }
  .eye-regular-1-icon {
    position: absolute;
    top: 12px;
    left: 10.4px;
    width: 20px;
    height: 17.8px;
    overflow: hidden;
    z-index: 1;
  }
  .eye-action-background-parent {
    height: 40px;
    width: 40px;
    position: relative;
    cursor: pointer;
  }
  .download-action-background {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    background-color: #06cc02;
    width: 100%;
    height: 100%;
  }
  .download-solid-1-icon {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 16px;
    height: 16px;
    overflow: hidden;
    z-index: 1;
  }
  .download-action-background-parent {
    height: 40px;
    width: 40px;
    position: relative;
  }
  .delete-action-background {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    background-color: #ff0505;
    width: 100%;
    height: 100%;
  }
  .trash-can-regular-1-icon {
    position: absolute;
    top: 11.2px;
    left: 12px;
    width: 16px;
    height: 18.3px;
    overflow: hidden;
    z-index: 1;
  }
  .delete-action-background-parent {
    height: 40px;
    width: 40px;
    position: relative;
  }
  .frame-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
  }
  .container,
  .container-header {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
  }
  .container-header {
    border-radius: 10px;
    background-color: #313131;
    overflow-x: auto;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px 10px 24px;
    gap: 20px;
  }
  .container {
    flex-direction: column;
    justify-content: flex-start;
  }
  .container3,
  .div {
    position: relative;
    display: flex;
    align-items: center;
  }
  .container3 {
    height: 43px;
    min-width: 94px;
  }
  .div {
    height: 41px;
    width: 151px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    justify-content: center;
    flex-shrink: 0;
    white-space: nowrap;
  }
  .frame-child {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    background-color: #2522b9;
    width: 100%;
    height: 100%;
  }
  .eye-regular-1-icon1 {
    position: absolute;
    top: 12px;
    left: 10.4px;
    width: 20px;
    height: 17.8px;
    overflow: hidden;
    z-index: 1;
  }
  .rectangle-parent {
    height: 40px;
    width: 40px;
    position: relative;
    cursor: pointer;
  }
  .frame-item {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    background-color: #06cc02;
    width: 100%;
    height: 100%;
  }
  .download-solid-1-icon1 {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 16px;
    height: 16px;
    overflow: hidden;
    z-index: 1;
  }
  .rectangle-group {
    height: 40px;
    width: 40px;
    position: relative;
  }
  .frame-inner {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    background-color: #ff0505;
    width: 100%;
    height: 100%;
  }
  .trash-can-regular-1-icon1 {
    position: absolute;
    top: 11.2px;
    left: 12px;
    width: 16px;
    height: 18.3px;
    overflow: hidden;
    z-index: 1;
  }
  .rectangle-container {
    height: 40px;
    width: 40px;
    position: relative;
  }
  .frame-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
  }
  .container-group,
  .container2 {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
  }
  .container-group {
    border-radius: 10px;
    background-color: #313131;
    overflow-x: auto;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px 10px 24px;
    gap: 20px;
  }
  .container2 {
    flex-direction: column;
    justify-content: flex-start;
  }
  .container5,
  .div1 {
    position: relative;
    display: flex;
    align-items: center;
  }
  .container5 {
    height: 43px;
    min-width: 94px;
  }
  .div1 {
    height: 41px;
    width: 151px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    justify-content: center;
    flex-shrink: 0;
    white-space: nowrap;
  }
  .rectangle-div {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    background-color: #2522b9;
    width: 100%;
    height: 100%;
  }
  .eye-regular-1-icon2 {
    position: absolute;
    top: 12px;
    left: 10.4px;
    width: 20px;
    height: 17.8px;
    overflow: hidden;
    z-index: 1;
  }
  .group-div {
    height: 40px;
    width: 40px;
    position: relative;
    cursor: pointer;
  }
  .frame-child1 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    background-color: #06cc02;
    width: 100%;
    height: 100%;
  }
  .download-solid-1-icon2 {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 16px;
    height: 16px;
    overflow: hidden;
    z-index: 1;
  }
  .rectangle-parent1 {
    height: 40px;
    width: 40px;
    position: relative;
  }
  .frame-child2 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    background-color: #ff0505;
    width: 100%;
    height: 100%;
  }
  .trash-can-regular-1-icon2 {
    position: absolute;
    top: 11.2px;
    left: 12px;
    width: 16px;
    height: 18.3px;
    overflow: hidden;
    z-index: 1;
  }
  .rectangle-parent2 {
    height: 40px;
    width: 40px;
    position: relative;
  }
  .frame-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
  }
  .container4,
  .frame-div {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
  }
  .frame-div {
    border-radius: 10px;
    background-color: #313131;
    overflow-x: auto;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px 10px 24px;
    gap: 20px;
  }
  .container4 {
    flex-direction: column;
    justify-content: flex-start;
  }
  .container-parent,
  .containers,
  .containers-wrapper {
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    max-width: 100%;
  }
  .download-action-background:hover{
    transition: .7s;
    background-color: #068304;
  }
  .delete-action-background:hover{
    transition: .7s;
    background-color: #c50101;
  }
  .eye-action-background:hover{
    transition: .7s;
   background-color: #0502a4;
  }
  .container-parent {
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    gap: 20px;
  }
  .containers,
  .containers-wrapper {
    flex-direction: row;
  }
  .containers {
    width: 996px;
    border-radius: 20px;
    background-color: #1c1c1c;
    border: 1px solid #000;
    overflow-y: auto;
    flex-shrink: 0;
    justify-content: flex-start;
    padding: 4px 11px 720px 14px;
  }
  .containers-wrapper {
    align-self: stretch;
    justify-content: center;
    padding: 0 20px 0 21px;
    font-family: Nunito;
  }
  .navbar-parent {
    width: 1197px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 50px;
    max-width: 100%;
  }
  .analysis-page-desktop-inner {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 21px 0 20px;
    box-sizing: border-box;
    max-width: 100%;
    text-align: left;
    font-size: 20px;
    color: #fff;
    font-family: Lexend;
  }
  .logo-icon {
    height: 36px;
    width: 36px;
    position: relative;
    object-fit: contain;
    min-height: 36px;
  }
  .watcal {
    position: relative;
    line-height: 150%;
    display: inline-block;
    min-width: 86px;
  }
  .footer-content,
  .logo-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .logo-parent {
    justify-content: flex-start;
    gap: 6px;
  }
  .footer-content {
    width: 1116px;
    justify-content: center;
    max-width: 100%;
    font-size: 24px;
    color: #fff;
  }
  .text-button {
    position: relative;
    line-height: 150%;
    display: inline-block;
    min-width: 47px;
  }
  .text-button1,
  .text-button2,
  .text-button3 {
    position: relative;
    line-height: 150%;
    display: inline-block;
    cursor: pointer;
  }
  .text-button1 {
    min-width: 79px;
    white-space: nowrap;
  }
  .text-button2,
  .text-button3 {
    min-width: 47px;
  }
  .text-button3 {
    min-width: 64px;
  }
  .footer-links,
  .footer-navigation {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .footer-links {
    justify-content: flex-start;
    gap: 26px;
  }
  .footer-navigation {
    width: 1116px;
    justify-content: center;
    max-width: 100%;
  }
  .icon1,
  .line {
    position: relative;
  }
  .line {
    width: 1116px;
    height: 1px;
    border-top: 1px solid #262626;
    box-sizing: border-box;
    max-width: 100%;
  }
  .icon1 {
    width: 20px;
    height: 20px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .social-button-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2px 0 0;
  }
  .text-button4 {
    position: relative;
    line-height: 150%;
    white-space: nowrap;
  }
  .button1 {
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 6px;
  }
  .icon2 {
    width: 20px;
    height: 20px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .icon-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2px 0 0;
  }
  .text-button5 {
    position: relative;
    line-height: 150%;
    display: inline-block;
    min-width: 129px;
    white-space: nowrap;
  }
  .button2,
  .social-buttons,
  .social-buttons-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .button2 {
    border-radius: 6px;
    justify-content: flex-start;
    gap: 6px;
  }
  .social-buttons,
  .social-buttons-wrapper {
    max-width: 100%;
  }
  .social-buttons {
    justify-content: flex-start;
    gap: 20px;
  }
  .social-buttons-wrapper {
    width: 1116px;
    justify-content: center;
  }
  .line1,
  .text {
    position: relative;
  }
  .line1 {
    width: 1116px;
    height: 1px;
    border-top: 1px solid #262626;
    box-sizing: border-box;
    max-width: 100%;
  }
  .text {
    line-height: 150%;
    font-weight: 300;
  }
  .copyright {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 12px 0 0;
  }
  .icon3 {
    width: 20px;
    height: 20px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .button3 {
    height: 48px;
    width: 48px;
    border-radius: 100px;
    background-color: #06cc02;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 14px;
    box-sizing: border-box;
    cursor: pointer;
  }
  .icon4 {
    width: 20px;
    height: 20px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .button4 {
    height: 48px;
    width: 48px;
    border-radius: 100px;
    background-color: #06cc02;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 14px;
    box-sizing: border-box;
    cursor: pointer;
  }
  .icon5 {
    width: 20px;
    height: 20px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .button5,
  .language-switcher {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .button5 {
    height: 48px;
    width: 48px;
    border-radius: 100px;
    background-color: #06cc02;
    flex-direction: column;
    padding: 14px;
    box-sizing: border-box;
    cursor: pointer;
  }
  .language-switcher {
    flex-direction: row;
    gap: 14px;
  }
  .text-button6 {
    position: relative;
    line-height: 150%;
    font-weight: 300;
    display: inline-block;
    min-width: 105px;
    cursor: pointer;
    color: #bfbfbf;
    text-decoration: none;
  }
  .theme-separator {
    height: 25px;
    width: 1px;
    position: relative;
    border-right: 1px solid #b3b3b3;
    box-sizing: border-box;
  }
  .text-button7 {
    position: relative;
    line-height: 150%;
    font-weight: 300;
    display: inline-block;
    min-width: 125px;
    cursor: pointer;
    color: #bfbfbf;
    text-decoration: none;
  }
  .container6,
  .theme-buttons,
  .theme-switcher {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .theme-buttons {
    height: 24px;
    flex-direction: row;
    gap: 11.5px;
  }
  .container6,
  .theme-switcher {
    flex-direction: column;
    padding: 12px 0 0;
  }
  .container6 {
    width: 1116px;
    border-radius: 100px;
    background-color: #1a1a1a;
    border: 1px solid #262626;
    box-sizing: border-box;
    overflow-x: auto;
    flex-direction: row;
    justify-content: space-between;
    padding: 6px 30px 6px 16px;
    gap: 20px;
    max-width: 100%;
    color: #b3b3b3;
  }
  .analysis-page-desktop,
  .footer-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .footer-section {
    align-self: stretch;
    background-color: #1c1c1c;
    border-top: 1px solid #000;
    align-items: center;
    padding: 98px 20px 50px;
    gap: 49.6px;
    max-width: 100%;
    text-align: left;
    font-size: 16px;
    color: #e3e3e8;
    font-family: 'Lexend', sans-serif;  }
  .analysis-page-desktop {
    width: 100%;
    position: relative;
    background-color: #1a1a1a;
    overflow: hidden;
    align-items: flex-start;
    padding: 50px 0 0;
    gap: 86px;
    line-height: normal;
    letter-spacing: normal;
  }
  @media screen and (max-width: 975px) {
    .containers {
      padding-top: 20px;
      padding-bottom: 468px;
      box-sizing: border-box;
    }
    .analysis-page-desktop {
      gap: 43px;
    }
  }
  @media screen and (max-width: 700px) {
    .navbar {
      flex-wrap: wrap;
    }
    .containers {
      padding-bottom: 304px;
      box-sizing: border-box;
    }
    .navbar-parent {
      gap: 25px;
    }
    .footer-section {
      gap: 25px;
      padding-top: 64px;
      padding-bottom: 32px;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .analysis {
      line-height: 21px;
    }
    .analysis,
    .container1,
    .container3,
    .container5 {
      font-size: 16px;
    }
    .watcal {
      font-size: 19px;
      line-height: 29px;
    }
    .social-buttons {
      flex-wrap: wrap;
    }
    .analysis-page-desktop {
      gap: 21px;
    }
  }

  .eagle {
    width: 500px;
    height: 253px;
    position: relative;
    border-radius: 50px;
    display: none;
    max-width: 100%;
    z-index: 0;
  }
  .remuv {
    text-decoration: none;
    height: 60px;
    width: 497px;
    position: absolute;
    margin: 0 !important;
    top: calc(50% - 30px);
    left: -429px;
    font-weight: 700;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }
  .clo-icon {
    height: 30px;
    width: 30px;
    position: relative;
    z-index: 2;
    cursor: pointer;
  }
  .delete-opt {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
  }
  .are-you-sure,
  .no1 {
    text-decoration: none;
    font-weight: 500;
    color: inherit;
    align-items: center;
    justify-content: center;
  }
  .are-you-sure {
    width: 436px;
    height: 60px;
    position: absolute;
    margin: 0 !important;
    top: 67px;
    left: calc(50% - 218px);
    display: flex;
    z-index: 2;
  }
  .no1 {
    height: 49px;
    position: relative;
  }
  .no,
  .no1,
  .yes1 {
    flex: 1;
    display: flex;
  }
  .no {
    border-radius: 50px;
    background-color: #06cc02;
    overflow: hidden;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    min-width: 130px;
    z-index: 1;
  }
  .yes1 {
    text-decoration: none;
    height: 49px;
    position: relative;
    font-weight: 500;
    color: inherit;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .no:hover{
    transition: 0.7s;
    background-color: #1fe61c;
  }
  .confirmable,
  .yes,
  .yes-no-buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .yes {
    flex: 1;
    border-radius: 50px;
    background-color: #ff0505;
    overflow: hidden;
    justify-content: flex-start;
    min-width: 130px;
    z-index: 1;
    cursor: pointer;
  }
  .yes:hover{
    transition: 0.7s;
    background-color: #cf1717;
  }
  .confirmable,
  .yes-no-buttons {
    max-width: 100%;
  }
  .yes-no-buttons {
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
  }
  .confirmable {
    align-self: stretch;
    justify-content: flex-end;
    padding: 0 4px 0 0;
    box-sizing: border-box;
    color: #1a1a1a;
  }
  .deletepopper,
  .vecpa {
    position: relative;
    display: flex;
    justify-content: flex-start;
  }
  .vecpa {
    flex: 1;
    border-radius: 50px;
    background-color: #1a1a1a;
    flex-direction: column;
    align-items: flex-end;
    padding: 27px 40px 54px 32px;
    box-sizing: border-box;
    gap: 93px;
    max-width: 100%;
    max-height: 90%;
    overflow: auto;
  }
  .deletepopper {
    width: 29.8%;
    flex-direction: row;
    align-items: flex-start;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    font-size: 20px;
    color: #fff;
    font-family: Nunito;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 9999;
    transition: all .5s ease-in-out;
  }
  @media screen and (max-width: 450px) {
    .are-you-sure,
    .remuv,
    .no1,
    .yes1 {
      font-size: 16px;
    }
  }
  @media screen and (max-width: 250px) {
    .vecpa {
      gap: 46px;
    }
  }

  .kid {
    height: 107.3px;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    cursor: pointer;
  }
  .popper-inner {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 62px;
  }
  .mp {
    align-self: stretch;
    position: relative;
    font-size: 16px;
    line-height: 25px;
    font-family: 'Lexend', sans-serif; 
    text-align: center;
  }
  .mpcom {
    flex: 1;
    position: relative;
    letter-spacing: 0.25px;
    line-height: 17.8px;
    white-space: nowrap;
  }
  .mpcom-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 13px;
    text-align: center;
    font-size: 9px;
    font-family: 'Lexend', sans-serif; 
  }
  .chartbar-icons {
    height: 1px;
    flex: 1;
    position: relative;
    border-top: 1px solid #06cc02;
    box-sizing: border-box;
  }
  .chartbar-buttons {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 12px;
  }
  .v-icon {
    width: 20px;
    height: 19.4px;
    position: relative;
  }
  .chart-icons,
  .house {
    flex-shrink: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .chart-icons {
    margin-top: -10px;
    margin-left: -10px;
    flex-direction: column;
    padding: 10px;
    debug_commit: 69da668;
  }
  .house {
    height: 20px;
    width: 20px;
    background-color: transparent;
    overflow: hidden;
    flex-direction: row;
    min-height: 20px;
  }
  .d_b {
    position: relative;
    line-height: 87.52%;
  }
  .dbtn,
  .sidebar-labels,
  .chartbar-buttons1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .sidebar-labels {
    flex-direction: column;
    padding: 1px 0 0;
  }
  .dbtn,
  .chartbar-buttons1 {
    flex-direction: row;
  }
  .dbtn {
    gap: 10px;
    cursor: pointer;
  }
  .chartbar-buttons1 {
    padding: 0 0 13px;
  }
  .chartbar-buttons1:hover,
  .chartbar-buttons3:hover,
  .mousebtn-wrapper:hover,
  .trend-wrapper:hover{
    transition: 0.7s;
    color: #06cc02;
  }
  .chartbar-buttons8:hover{
    transition: 0.7s;
    color: #FF0505;
  }

  .lenght {
    height: 1px;
    flex: 1;
    position: relative;
    border-top: 1px solid #06cc02;
    box-sizing: border-box;
  }
  .chartbar-buttons2 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 12px;
  }
  .v-icon1 {
    width: 20px;
    height: 20px;
    position: relative;
  }
  .chart-bar,
  .v-wrapper {
    flex-shrink: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .v-wrapper {
    margin-top: -10px;
    margin-left: -10px;
    flex-direction: column;
    padding: 10px;
    debug_commit: 69da668;
  }
  .chart-bar {
    height: 20px;
    width: 20px;
    background-color: transparent;
    overflow: hidden;
    flex-direction: row;
  }
  .piena {
    position: relative;
    line-height: 87.52%;
  }
  .piena-wrapper,
  .pienabtn,
  .chartbar-buttons3 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .piena-wrapper {
    flex-direction: column;
    padding: 1px 0 0;
  }
  .pienabtn,
  .chartbar-buttons3 {
    flex-direction: row;
  }
  .pienabtn {
    gap: 10px;
    cursor: pointer;
  }
  .chartbar-buttons3 {
    padding: 0 0 13px;
  }
  .lenght1 {
    height: 1px;
    flex: 1;
    position: relative;
    border-top: 1px solid #06cc02;
    box-sizing: border-box;
  }
  .chartbar-buttons4 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 12px;
  }
  .toolkit-icon {
    height: 20px;
    width: 20px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    min-height: 20px;
  }
  .mouses {
    position: relative;
    line-height: 87.52%;
  }
  .mousebtn,
  .mousebtn-wrapper,
  .mouses-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .mouses-wrapper {
    flex-direction: column;
    padding: 1px 0 0;
  }
  .mousebtn,
  .mousebtn-wrapper {
    flex-direction: row;
  }
  .mousebtn {
    gap: 10px;
    cursor: pointer;
  }
  .mousebtn-wrapper {
    padding: 0 0 13px;
  }
  .lenght2 {
    height: 1px;
    flex: 1;
    position: relative;
    border-top: 1px solid #06cc02;
    box-sizing: border-box;
  }
  .chartbar-buttons5 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 12px;
  }
  .v-icon2 {
    width: 19.4px;
    height: 19.4px;
    position: relative;
  }
  .trend,
  .v-container {
    flex-shrink: 0;
    display: flex;
    justify-content: flex-start;
  }
  .v-container {
    margin-left: -9.7px;
    margin-bottom: -9.7px;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    box-sizing: border-box;
    debug_commit: 69da668;
    width: 39.4px;
    height: 39.4px;
  }
  .trend {
    height: 20px;
    width: 20px;
    background-color: transparent;
    overflow: hidden;
    flex-direction: row;
    align-items: flex-end;
  }
  .trend1 {
    position: relative;
    line-height: 87.52%;
  }
  .trend-wrapper,
  .trendbtn,
  .chartbar-buttons6 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .trend-wrapper {
    flex-direction: column;
    padding: 1px 0 0;
  }
  .trendbtn,
  .chartbar-buttons6 {
    flex-direction: row;
  }
  .trendbtn {
    gap: 10px;
    cursor: pointer;
  }
  .chartbar-buttons6 {
    padding: 0 0 13px;
  }
  .lenght3 {
    height: 1px;
    flex: 1;
    position: relative;
    border-top: 1px solid #06cc02;
    box-sizing: border-box;
  }
  .chartbar-buttons7 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 12px;
  }
  .opener-alt-icon {
    height: 20px;
    width: 20px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    min-height: 20px;
  }
  .opener {
    position: relative;
    line-height: 87.52%;
  }
  .opener-btn,
  .chartbar-buttons8 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .opener-btn {
    gap: 10px;
    cursor: pointer;
  }
  .chartbar-buttons8 {
    padding: 0 0 13px;
  }
  .lenght4,
  .chartbar {
    align-self: stretch;
  }
  .lenght4 {
    height: 1px;
    position: relative;
    border-top: 1px solid #06cc02;
    box-sizing: border-box;
  }
  .chartbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    font-size: 20px;
    color: #fff;
    font-family: 'Lexend', sans-serif; 
  }
  .txt-button {
    position: relative;
    line-height: 150%;
    font-weight: 300;
    cursor: pointer;
    color: #bfbfbf;
    text-decoration: none;
  }
  .lenght5 {
    height: 22px;
    width: 1px;
    position: relative;
    border-right: 1px solid #b3b3b3;
    box-sizing: border-box;
  }
  .txt-button1 {
    position: relative;
    line-height: 150%;
    font-weight: 300;
    cursor: pointer;
    color: #bfbfbf;
    text-decoration: none;
  }
  .btt-bar,
  .popper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .btt-bar {
    height: 21px;
    flex-direction: row;
    gap: 11.5px;
  }
  .popper {
    width: 16%;
    position: absolute;
    border-radius: 20px;
    background-color: #1c1c1c;
    border-right: 1px solid #06cc02;
    border-left: 1px solid #06cc02;
    box-sizing: border-box;
    overflow: hidden;
    flex-direction: column;
    padding: 39px 21px;
    gap: 12px;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    font-size: 14px;
    color: #b3b3b3;
    font-family: 'Lexend', sans-serif; 
    left: 10%;
    top: 11%;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
}
  .disable-scroll {
    overflow: hidden; 
}

.popup-open .blur-background {
    transition: 0.8s ease-in-out;
    filter: blur(2px);
}

.Child {
    height: 335px;
    width: 500px;
    position: relative;
    border-radius: 50px;
    background-color: #1a1a1a;
    border: 1px solid #000;
    box-sizing: border-box;
    display: none;
    max-width: 100%;
  }
  .down {
    text-decoration: none;
    align-self: stretch;
    height: 27px;
    position: relative;
    font-weight: 500;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    z-index: 1;
  }
  .file-pdf-regular-1-icon {
    height: 50px;
    width: 50px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .file-pdf-regular-1-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 75px;
  }
  .reports {
    align-self: stretch;
    height: 60px;
    position: relative;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }
  .R,
  .R-wrapper {
    display: flex;
    align-items: flex-start;
  }
  .R {
    flex: 1;
    border-radius: 50px;
    background-color: #ff0505;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    padding: 50px 0 30px;
    gap: 13px;
    z-index: 1;
  }
  .R:hover{
    background-color: #f80101;
    cursor: pointer;
  }
  .csvbtn:hover{
    background-color: #04fb00;
    cursor: pointer;
  }
  .R-wrapper {
    width: 224px;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 12px;
    box-sizing: border-box;
    color: #1a1a1a;
  }
  .downParent {
    width: 251px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 27px;
    min-width: 251px;
  }
  .close-icon {
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 2;
    top: 15px;
    right: 4px;
    cursor: pointer;
  }
  .file-csv-solid-1-icon {
    height: 50px;
    width: 50px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .file-csv-solid-1-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 75px;
  }
  .csvbtn,
  .dt {
    align-self: stretch;
  }
  .dt {
    height: 60px;
    position: relative;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
  }
  .csvbtn {
    border-radius: 50px;
    background-color: #06cc02;
    overflow: hidden;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 50px 0 30px;
    gap: 9px;
    z-index: 1;
  }
  .csvbtn:hover{
    transition: .7s;
    background-color: #1fe61c;
  }
  .R:hover{
    background-color: #cf1717;
  }
  .close-parent,
  .csvbtn,
  .cover {
    display: flex;
    flex-direction: column;
  }
  .close-parent {
    align-self: stretch;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 42px;
  }
  .cover {
    width: 200px;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 0 4px;
    box-sizing: border-box;
    min-width: 200px;
    color: #1a1a1a;
  }
  .downloadmenu,
  .Parent {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .Parent {
    flex: 1;
    border-radius: 50px;
    background-color: #1a1a1a;
    border: 1px solid #000;
    box-sizing: border-box;
    align-items: flex-end;
    padding: 10px 1px 31px;
    gap: 8px;
    max-width: 100%;
    text-align: center;
    font-size: 20px;
    color: #fff;
    font-family: 'Lexend', sans-serif; 
  }
  .downloadmenu {
    width: 29.8%;
    position: relative;
    align-items: flex-start;
    line-height: normal;
    letter-spacing: normal;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 9999;
    transition: all .5s ease-in-out;
  }
  @media screen and (max-width: 450px) {
    .dt,
    .download,
    .reports {
      font-size: 16px;
    }
  }
  @media screen and (max-width: 438px) {
    .download-parent,
    .cover {
      flex: 1;
    }
    .Parent {
      flex-wrap: wrap;
    }
  }
  