*{ margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
}
.back-icon {
    height: 21.7px;
    width: 12.8px;
    position: relative;
  }
  .material-symbolsarrow-back-io:hover{
    transition: .7s;
    background-color: #06cc02;
  }
  .material-symbolsarrow-back-io {
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
  }
  .edit-profile {
    align-self: stretch;
    position: relative;
    font-size: 20px;
    line-height: 18px;
    font-weight: 300;
    font-family: 'Lexend', sans-serif;
    color: #fff;
    text-align: left;
  }
  .edit-profile-wrapper,
  .navbar,
  .navbar-wrapper {
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
  }
  .edit-profile-wrapper {
    width: 133px;
    flex-direction: column;
    justify-content: flex-start;
    padding: 11.8px 0 0;
  }
  .navbar,
  .navbar-wrapper {
    flex-direction: row;
  }
  .navbar {
    cursor: pointer;
    border: 1px solid #262626;
    padding: 4px 12px;
    background-color: #1c1c1c;
    width: 260px;
    border-radius: 100px;
    justify-content: space-between;
    gap: 20px;
    font-family: 'Lexend', sans-serif;
  }
  .navbar-wrapper {
    width: 424.5px;
    justify-content: center;
    padding: 0 20px 70px;
    max-width: 100%;
  }
  .frame-child {
    position: absolute;
    top: 25.8px;
    left: 16.7px;
    border-radius: 50%;
    width: 171.5px;
    height: 185.2px;
  }
  .picdefault-icon {
    height: 200px;
    width: 200px;
    position: relative;
    cursor: pointer;
  }
  .picdefault-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 10px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .ellipse-parent {
    height: 211px;
    width: 200px;
    position: relative;
  }
  .frame-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 21px 0 20px;
  }
  .email,
  .username {
    width: 298px;
    position: relative;
    line-height: 87.52%;
    font-weight: 700;
    display: inline-block;
    flex-shrink: 0;
    debug_commit: 69da668;
  }
  .email {
    width: 178.8px;
  }
  .frame-div,
  .username-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .username-parent {
    flex: 1;
    justify-content: space-between;
    gap: 20px;
  }
  .frame-div {
    width: 756.8px;
    justify-content: flex-start;
    padding: 0 14px;
    box-sizing: border-box;
  }
  .frame-item,
  .melissa-peters {
    position: relative;
    max-width: 100%;
  }
  .frame-item {
    height: 54px;
    width: 498px;
    border-radius: 20px;
    border: 1px solid #bfbfbf;
    box-sizing: border-box;
    display: none;
  }
  .melissa-peters {
    width: 100%;
    border: 0;
    outline: 0;
    font-weight: 500;
    font-family: 'Lexend', sans-serif;
    font-size: 16px;
    background-color: transparent;
    height: 19.6px;
    flex: 1;
    line-height: 87.52%;
    color: #BFBFBF;
    text-align: left;
    display: inline-block;
    min-width: 250px;
    padding: 0;
    z-index: 1;
  }
  .frame-inner,
  .rectangle-parent {
    border-radius: 20px;
    border: 1px solid #bfbfbf;
    box-sizing: border-box;
    max-width: 100%;
  }
  .rectangle-parent {
    flex: 0.9076;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 17px 22px;
    min-width: 324px;
  }
  .frame-inner {
    height: 54px;
    width: 498px;
    position: relative;
    display: none;
  }
  .melpetersgmailcom {
    width: 100%;
    border: 0;
    outline: 0;
    font-weight: 500;
    font-family: 'Lexend', sans-serif;
    font-size: 16px;
    background-color: transparent;
    height: 19.6px;
    flex: 1;
    line-height: 87.52%;
    color: #BFBFBF;
    text-align: left;
    display: inline-block;
    min-width: 250px;
    padding: 0;
    z-index: 1;
  }
  .rectangle-group {
    align-self: stretch;
    border-radius: 20px;
    border: 1px solid #bfbfbf;
    box-sizing: border-box;
    flex-direction: row;
    padding: 17px 22px;
  }
  .frame-container,
  .frame-parent1,
  .frame-wrapper1,
  .rectangle-group {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .frame-wrapper1 {
    flex: 1;
    flex-direction: column;
    padding: 1px 0 0;
    box-sizing: border-box;
    min-width: 324px;
  }
  .frame-container,
  .frame-parent1 {
    align-self: stretch;
    flex-direction: row;
    gap: 50px;
  }
  .frame-container {
    flex-direction: column;
    gap: 6px;
  }
  .confirm-password,
  .enter-password {
    width: 290.9px;
    position: relative;
    line-height: 87.52%;
    font-weight: 700;
    display: inline-block;
    flex-shrink: 0;
  }
  .enter-password-parent,
  .frame-wrapper2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .enter-password-parent {
    flex: 1;
    justify-content: space-between;
    gap: 20px;
  }
  .frame-wrapper2 {
    width: 868.9px;
    justify-content: flex-start;
    padding: 0 14px;
    box-sizing: border-box;
  }
  .password-input-border {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 20px;
    border: 1px solid #bfbfbf;
    box-sizing: border-box;
  }
  .password-input-placeholder {
    border: 0;
    outline: 0;
    background-color: transparent;
    position: absolute;
    top: 17px;
    left: 23px;
    height: 20.3px;
    display: flex;
    width: 85%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 6.3px 2px;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #BFBFBF;
  }
  .password-input-placeholder-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 4px 0 0;
    box-sizing: border-box;
    min-width: 254px;
    max-width: 100%;
  }
  .eye-icon {
    height: 20px;
    width: 20px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    z-index: 1;
  }
  .component-10 {
    align-self: stretch;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 17px 27px;
    box-sizing: border-box;
    position: relative;
    gap: 33px;
    max-width: 100%;
  }
  .date-of-birth {
    flex: 1;
    position: relative;
    line-height: 87.52%;
  }
  .date-of-birth-wrapper {
    width: 318.9px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 14px;
    box-sizing: border-box;
  }
  .ddmmyyyy,
  .rectangle-div {
    position: relative;
    max-width: 100%;
  }
  .rectangle-div {
    height: 54px;
    width: 498px;
    border-radius: 20px;
    border: 1px solid #bfbfbf;
    box-sizing: border-box;
    display: none;
  }
  .ddmmyyyy {
    width: 100%;
    border: 0;
    outline: 0;
    font-weight: 500;
    font-family: 'Lexend', sans-serif;
    font-size: 16px;
    background-color: transparent;
    height: 19.6px;
    flex: 1;
    line-height: 87.52%;
    color: #BFBFBF;
    text-align: left;
    display: inline-block;
    min-width: 250px;
    padding: 0;
    z-index: 1;
  }
  .frame-parent3,
  .rectangle-container {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .rectangle-container {
    border-radius: 20px;
    border: 1px solid #bfbfbf;
    box-sizing: border-box;
    flex-direction: row;
    padding: 17px 23px;
  }
  .frame-parent3 {
    flex-direction: column;
    gap: 4.5px;
  }
  .house-address {
    flex: 1;
    position: relative;
    line-height: 87.52%;
    font-weight: 700;
  }
  .house-address-wrapper {
    width: 339.2px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 14px;
    box-sizing: border-box;
    max-width: 100%;
  }
  .frame-child1 {
    height: 54px;
    width: 498px;
    position: relative;
    border-radius: 20px;
    border: 1px solid #bfbfbf;
    box-sizing: border-box;
    display: none;
    max-width: 100%;
  }
  .optional {
    width: 100%;
    border: 0;
    outline: 0;
    font-weight: 500;
    font-family: 'Lexend', sans-serif;
    font-size: 16px;
    background-color: transparent;
    height: 19.6px;
    flex: 1;
    line-height: 87.52%;
    color: #BFBFBF;
    text-align: left;
    display: inline-block;
    min-width: 250px;
    padding: 0;
    z-index: 1;
  }
  .optional-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 4.3px 0 0;
    box-sizing: border-box;
    min-width: 256px;
    max-width: 100%;
  }
  .iconoutlinequestion {
    height: 24.5px;
    width: 34.3px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    flex-shrink: 0;
    z-index: 1;
  }
  .frame-parent4,
  .group-div,
  .password-input {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .group-div {
    align-self: stretch;
    border-radius: 20px;
    border: 1px solid #bfbfbf;
    box-sizing: border-box;
    flex-direction: row;
    padding: 13px 23px;
    gap: 20px;
  }
  .frame-parent4,
  .password-input {
    flex-direction: column;
  }
  .frame-parent4 {
    align-self: stretch;
    gap: 5px;
  }
  .password-input {
    flex: 1;
    gap: 50.5px;
    min-width: 324px;
  }
  .meter-password-input-border {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 20px;
    border: 1px solid #bfbfbf;
    box-sizing: border-box;
  }
  .meter-password-input {
    border: 0;
    outline: 0;
    background-color: transparent;
    position: absolute;
    top: 17px;
    left: 23px;
    height: 20.3px;
    display: flex;
    width: 85%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 6.3px 2px;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #BFBFBF;
  }
  .meter-password-input-placehold-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 4px 0 0;
    box-sizing: border-box;
    min-width: 254px;
    max-width: 100%;
  }
  .eye-icon1 {
    height: 20px;
    width: 20px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    z-index: 1;
  }
  .component-101 {
    align-self: stretch;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 17px 27px;
    box-sizing: border-box;
    position: relative;
    gap: 33px;
    max-width: 100%;
  }
  .meter-serial-number {
    flex: 1;
    position: relative;
    line-height: 87.52%;
    font-weight: 700;
    display: inline-block;
    max-width: 100%;
    flex-shrink: 0;
  }
  .meter-serial-number-wrapper {
    width: 448.1px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 16px;
    box-sizing: border-box;
    max-width: 100%;
  }
  .frame-child2,
  .xxxxxxx {
    position: relative;
    max-width: 100%;
  }
  .frame-child2 {
    height: 54px;
    width: 498px;
    border-radius: 20px;
    border: 1px solid #bfbfbf;
    box-sizing: border-box;
    display: none;
  }
  .xxxxxxx {
    width: 100%;
    border: 0;
    outline: 0;
    font-weight: 500;
    font-family: 'Lexend', sans-serif;
    font-size: 16px;
    background-color: transparent;
    height: 19.6px;
    flex: 1;
    line-height: 87.52%;
    color: #BFBFBF;
    text-align: left;
    display: inline-block;
    min-width: 250px;
    padding: 0;
    z-index: 1;
  }
  .frame-parent5,
  .rectangle-parent1 {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .rectangle-parent1 {
    border-radius: 20px;
    border: 1px solid #bfbfbf;
    box-sizing: border-box;
    flex-direction: row;
    padding: 17px 22px;
  }
  .frame-parent5 {
    flex-direction: column;
    gap: 5.5px;
  }
  .meter-type {
    flex: 1;
    position: relative;
    line-height: 87.52%;
    font-weight: 700;
  }
  .meter-type-wrapper {
    width: 323.9px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 16px;
    box-sizing: border-box;
    max-width: 100%;
  }
  .frame-child3,
  .prepaidpostpaid {
    position: relative;
    max-width: 100%;
  }
  .frame-child3 {
    height: 54px;
    width: 498px;
    border-radius: 20px;
    border: 1px solid #bfbfbf;
    box-sizing: border-box;
    display: none;
  }
  .prepaidpostpaid {
    width: 100%;
    border: 0;
    outline: 0;
    font-weight: 500;
    font-family: 'Lexend', sans-serif;
    font-size: 16px;
    background-color: transparent;
    height: 19.6px;
    flex: 1;
    line-height: 87.52%;
    color: #BFBFBF;
    text-align: left;
    display: inline-block;
    min-width: 250px;
    padding: 0;
    z-index: 1;
  }
  .rectangle-parent2 {
    align-self: stretch;
    border-radius: 20px;
    border: 1px solid #bfbfbf;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 17px 22px;
    max-width: 100%;
  }
  .frame-parent6 {
    align-self: stretch;
    flex-direction: column;
    gap: 6.5px;
  }
  .component-10-parent,
  .frame-parent2,
  .frame-parent6,
  .password-input-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .component-10-parent {
    flex: 1;
    flex-direction: column;
    gap: 50px;
    min-width: 324px;
  }
  .frame-parent2,
  .password-input-parent {
    align-self: stretch;
  }
  .password-input-parent {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
  }
  .frame-parent2 {
    flex-direction: column;
    gap: 5.5px;
  }
  .container {
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    padding: 50px 56px;
    box-sizing: border-box;
  }
  .container,
  .frame-group {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 50px;
    max-width: 100%;
  }
  .save-changes {
    width: 123.5px;
    position: relative;
    font-size: 16px;
    line-height: 87.52%;
    font-weight: 500;
    font-family: 'Lexend', sans-serif;
    color: #1a1a1a;
    text-align: center;
    display: inline-block;
    flex-shrink: 0;
  }
  .button {
    cursor: pointer;
    border: 0;
    padding: 19px 20px;
    background-color: #06cc02;
    width: 400px;
    border-radius: 63px;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
    white-space: nowrap;
  }
  .button:hover {
    transition: .7s;
    background-color: #1fe61c;
  }
  .button,
  .button-wrapper,
  .frame-parent {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .button-wrapper {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    padding: 0 21px 0 20px;
    box-sizing: border-box;
  }
  .frame-parent {
    width: 1159.5px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 31px;
  }
  .tenant-edit-profile-page-des-inner {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 20px;
    box-sizing: border-box;
    max-width: 100%;
    text-align: left;
    font-size: 16px;
    color: #bfbfbf;
    font-family: 'Lexend', sans-serif;
  }
  .logo-icon {
    height: 36px;
    width: 36px;
    position: relative;
    object-fit: contain;
    min-height: 36px;
  }
  .watcal {
    margin: 0;
    position: relative;
    font-size: inherit;
    line-height: 150%;
    font-weight: 400;
    font-family: inherit;
    display: inline-block;
    min-width: 86px;
  }
  .footer-section-inner,
  .logo-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .logo-parent {
    justify-content: flex-start;
    gap: 6px;
  }
  .footer-section-inner {
    width: 1116px;
    justify-content: center;
    max-width: 100%;
    font-size: 24px;
    color: #fff;
  }
  .text-button {
    position: relative;
    line-height: 150%;
    display: inline-block;
    min-width: 47px;
    cursor: pointer;
  }
  .text-button1,
  .text-button2,
  .text-button3 {
    position: relative;
    line-height: 150%;
    display: inline-block;
    cursor: pointer;
  }
  .text-button1 {
    min-width: 79px;
    white-space: nowrap;
  }
  .text-button2,
  .text-button3 {
    min-width: 47px;
  }
  .text-button3 {
    min-width: 64px;
  }
  .footer-section-child,
  .text-button-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .text-button-parent {
    justify-content: flex-start;
    gap: 26px;
  }
  .footer-section-child {
    width: 1116px;
    justify-content: center;
    max-width: 100%;
  }
  .icon,
  .line {
    position: relative;
  }
  .line {
    width: 1116px;
    height: 1px;
    border-top: 1px solid #262626;
    box-sizing: border-box;
    max-width: 100%;
  }
  .icon {
    width: 20px;
    height: 20px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .icon-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2px 0 0;
  }
  .text-button4 {
    position: relative;
    line-height: 150%;
    white-space: nowrap;
  }
  .button1 {
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 6px;
  }
  .icon1 {
    width: 20px;
    height: 20px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .icon-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2px 0 0;
  }
  .text-button5 {
    position: relative;
    line-height: 150%;
    display: inline-block;
    min-width: 129px;
    white-space: nowrap;
  }
  .button-parent,
  .button2,
  .footer-section-inner1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .button2 {
    border-radius: 6px;
    justify-content: flex-start;
    gap: 6px;
  }
  .button-parent,
  .footer-section-inner1 {
    max-width: 100%;
  }
  .button-parent {
    justify-content: flex-start;
    gap: 20px;
  }
  .footer-section-inner1 {
    width: 1116px;
    justify-content: center;
  }
  .line1,
  .text {
    position: relative;
  }
  .line1 {
    width: 1116px;
    height: 1px;
    border-top: 1px solid #262626;
    box-sizing: border-box;
    max-width: 100%;
  }
  .text {
    line-height: 150%;
    font-weight: 300;
  }
  .text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 12px 0 0;
  }
  .icon2 {
    width: 20px;
    height: 20px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .button3 {
    height: 48px;
    width: 48px;
    border-radius: 100px;
    background-color: #06cc02;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 14px;
    box-sizing: border-box;
    cursor: pointer;
  }
  .icon3 {
    width: 20px;
    height: 20px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .button4 {
    height: 48px;
    width: 48px;
    border-radius: 100px;
    background-color: #06cc02;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 14px;
    box-sizing: border-box;
    cursor: pointer;
  }
  .icon4 {
    width: 20px;
    height: 20px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .button-group,
  .button5 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .button5 {
    height: 48px;
    width: 48px;
    border-radius: 100px;
    background-color: #06cc02;
    flex-direction: column;
    padding: 14px;
    box-sizing: border-box;
    cursor: pointer;
  }
  .button-group {
    flex-direction: row;
    gap: 14px;
  }
  .text-button6 {
    position: relative;
    line-height: 150%;
    font-weight: 300;
    display: inline-block;
    min-width: 105px;
    cursor: pointer;
    color: #bfbfbf;
    text-decoration: none;
  }
  .legal-links-separator {
    height: 25px;
    width: 1px;
    position: relative;
    border-right: 1px solid #b3b3b3;
    box-sizing: border-box;
  }
  .text-button7 {
    position: relative;
    line-height: 150%;
    font-weight: 300;
    display: inline-block;
    min-width: 125px;
    cursor: pointer;
    color: #bfbfbf;
    text-decoration: none;
  }
  .container-inner,
  .container1,
  .text-button-group {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .text-button-group {
    height: 24px;
    flex-direction: row;
    gap: 11.5px;
  }
  .container-inner,
  .container1 {
    flex-direction: column;
    padding: 12px 0 0;
  }
  .container1 {
    width: 1116px;
    border-radius: 100px;
    background-color: #1a1a1a;
    border: 1px solid #262626;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
    padding: 6px 30px 6px 16px;
    gap: 20px;
    max-width: 100%;
    text-align: left;
    font-size: 16px;
    color: #b3b3b3;
    font-family: 'Lexend', sans-serif; 
  }
  .footer-section,
  .tenant-edit-profile-page-des {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .footer-section {
    align-self: stretch;
    background-color: #1c1c1c;
    border-top: 1px solid #000;
    align-items: center;
    padding: 98px 20px 50px;
    gap: 49.6px;
    max-width: 100%;
    text-align: left;
    font-size: 16px;
    color: #e3e3e8;
    font-family: 'Lexend', sans-serif;  }
  .tenant-edit-profile-page-des {
    width: 100%;
    position: relative;
    background-color: #1a1a1a;
    overflow: hidden;
    align-items: flex-end;
    padding: 50px 0 0;
    gap: 119.5px;
    line-height: normal;
    letter-spacing: normal;
  }
  @media screen and (max-width: 1125px) {
    .container {
      padding-left: 28px;
      padding-right: 28px;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 1050px) {
    .frame-wrapper1,
    .rectangle-parent {
      flex: 1;
    }
    .container1,
    .frame-parent1 {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 750px) {
    .username-parent {
      flex-wrap: wrap;
    }
    .frame-parent1 {
      gap: 25px;
    }
    .enter-password-parent {
      flex-wrap: wrap;
    }
    .component-10 {
      gap: 16px;
    }
    .component-10,
    .group-div {
      flex-wrap: wrap;
    }
    .password-input {
      gap: 25px;
    }
    .component-101 {
      flex-wrap: wrap;
      gap: 16px;
    }
    .component-10-parent,
    .password-input-parent {
      gap: 25px;
    }
    .container {
      gap: 25px;
      padding-top: 32px;
      padding-bottom: 32px;
      box-sizing: border-box;
    }
    .frame-group {
      gap: 25px;
    }
    .frame-parent {
      gap: 15px;
    }
    .footer-section {
      gap: 25px;
      padding-top: 64px;
      padding-bottom: 32px;
      box-sizing: border-box;
    }
    .tenant-edit-profile-page-des {
      gap: 60px;
    }
  }
  @media screen and (max-width: 450px) {
    .edit-profile {
      font-size: 16px;
      line-height: 14px;
    }
    .watcal {
      font-size: 19px;
      line-height: 29px;
    }
    .button-parent {
      flex-wrap: wrap;
    }
    .tenant-edit-profile-page-des {
      gap: 30px;
    }
  }
  