*{ margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
}
.vector-icon {
    height: 21.7px;
    width: 12.8px;
    position: relative;
  }
  .material-symbolsarrow-back-io:hover{
    transition: 0.7s;
    background-color: #06cc02;
  }
  .material-symbolsarrow-back-io {
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    cursor: pointer;
  }
  .help-support {
    align-self: stretch;
    position: relative;
    line-height: 130%;
    font-weight: 300;
  }
  .help-support-wrapper {
    width: 189px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 7.8px 0 0;
    box-sizing: border-box;
  }
  .navbar,
  .navbar-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .navbar {
    flex: 1;
    border-radius: 100px;
    background-color: #1c1c1c;
    border: 1px solid #262626;
    justify-content: space-between;
    padding: 4px 14px;
    gap: 20px;
  }
  .navbar-wrapper {
    width: 400px;
    justify-content: flex-start;
    padding: 0 40px;
    box-sizing: border-box;
    max-width: 100%;
  }
  .first-f-a-q-divider,
  .paragraph {
    width: 800px;
    position: relative;
    max-width: 100%;
  }
  .first-f-a-q-divider {
    height: 1px;
    border-top: 1px solid #262626;
    box-sizing: border-box;
  }
  .paragraph {
    line-height: 150%;
    font-weight: 300;
    display: inline-block;
  }
  .faq-item,
  .faq-item-wrapper {
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
    max-width: 100%;
  }
  .faq-item {
    flex: 1;
    border-radius: 20px;
    border-left: 1px solid #06cc02;
    flex-direction: column;
    align-items: center;
    padding: 15px 20px 55px;
    gap: 19px;
  }
  .faq-item-wrapper {
    align-self: stretch;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 0 0 3px;
  }
  .icon1 {
    height: 35px;
    width: 35px;
    position: relative;
  }
  .icon {
    height: 63px;
    width: 63px;
    border-radius: 50px;
    background: linear-gradient(
      180deg,
      rgba(202, 255, 51, 0.1),
      rgba(202, 255, 51, 0) 46.77%
    );
    border: 1px solid rgba(202, 255, 51, 0.2);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 14px 13px;
  }
  .help {
    align-self: stretch;
    position: relative;
    line-height: 150%;
    font-weight: 300;
  }
  .help-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 16.5px 0 0;
  }
  .faq-item-inner,
  .icon-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .icon-parent {
    width: 158px;
    justify-content: flex-start;
    gap: 10px;
  }
  .faq-item-inner {
    width: 800px;
    justify-content: center;
    max-width: 100%;
  }
  .second-f-a-q-divider {
    width: 800px;
    height: 1px;
    position: relative;
    border-top: 1px solid #262626;
    box-sizing: border-box;
    max-width: 100%;
  }
  .knowledge-base2 {
    font-family: Lexend;
  }
  .span {
    font-weight: 300;
  }
  .knowledge-base1 {
    margin-bottom: 0;
  }
  .knowledge-base {
    margin: 0;
    padding-left: 24px;
  }
  .we-maintain-a-comprehensive-kn1 {
    font-weight: 300;
  }
  .we-maintain-a-comprehensive-kn {
    margin: 0;
    font-size: 16px;
  }
  .community-forums2 {
    font-family: Lexend;
  }
  .span1 {
    font-weight: 300;
  }
  .community-forums1 {
    margin-bottom: 0;
  }
  .community-forums {
    margin: 0;
    padding-left: 24px;
  }
  .connect-with-other-users-shar1 {
    font-weight: 300;
  }
  .connect-with-other-users-shar {
    margin: 0;
    font-size: 16px;
  }
  .paragraph1 {
    width: 800px;
    height: 198px;
    position: relative;
    line-height: 150%;
    color: #b3b3b3;
    text-align: center;
    display: inline-block;
    max-width: 100%;
    font-size: 18px;
  }
  .faq-item1,
  .frame-container {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 100%;
  }
  .faq-item1 {
    border-radius: 20px;
    border-left: 1px solid #06cc02;
    box-sizing: border-box;
    align-items: center;
    padding: 19px 20px 59px;
    gap: 19.5px;
    text-align: left;
    font-size: 20px;
    color: #fff;
  }
  .frame-container {
    align-items: flex-start;
    gap: 72px;
  }
  .icon3 {
    height: 35px;
    width: 35px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .icon-container,
  .icon2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .icon2 {
    height: 67px;
    width: 67px;
    border-radius: 50px;
    background: linear-gradient(
      180deg,
      rgba(202, 255, 51, 0.1),
      rgba(202, 255, 51, 0) 46.77%
    );
    border: 1px solid rgba(202, 255, 51, 0.2);
    padding: 16px 15px;
  }
  .icon-container {
    height: 83px;
    width: 83px;
    border-radius: 70px;
    background: linear-gradient(
      180deg,
      rgba(202, 255, 51, 0.05),
      rgba(202, 255, 51, 0)
    );
    padding: 8px;
  }
  .support {
    position: relative;
    line-height: 150%;
    font-weight: 300;
    display: inline-block;
    min-width: 85px;
  }
  .icon-container-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
  }
  .faq-item-child {
    margin-top: -103px;
    width: 800px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    max-width: 100%;
  }
  .third-f-a-q-divider {
    width: 800px;
    height: 0;
    position: relative;
    border-top: 1px solid #262626;
    box-sizing: border-box;
    max-width: 100%;
    flex-shrink: 0;
  }
  .customer-support-team2 {
    font-family: Lexend;
  }
  .span2 {
    font-weight: 300;
  }
  .customer-support-team1 {
    margin-bottom: 0;
  }
  .customer-support-team {
    margin: 0;
    padding-left: 24px;
  }
  .our-friendly-and-knowledgeable1 {
    font-weight: 300;
  }
  .our-friendly-and-knowledgeable {
    margin: 0;
    font-size: 16px;
  }
  .feedback-and-suggestions1 {
    margin-bottom: 0;
  }
  .feedback-and-suggestions {
    margin: 0;
    padding-left: 24px;
  }
  .we-value-user {
    font-weight: 300;
  }
  .we-value-user-feedback-and-act {
    margin: 0;
    font-size: 16px;
  }
  .updates-and-notifications {
    font-family: Lexend;
  }
  .stay-informed-about {
    font-weight: 300;
  }
  .updates-and-notifications-sta {
    margin: 0;
  }
  .visit-supportwatcalcom-for {
    font-weight: 300;
  }
  .visit-supportwatcalcom-for-f {
    margin: 0;
  }
  .paragraph2 {
    width: 800px;
    position: relative;
    line-height: 150%;
    color: #b3b3b3;
    text-align: center;
    display: inline-block;
    max-width: 100%;
    font-size: 18px;
  }
  .faq-item2,
  .frame-group {
    align-self: stretch;
    flex-direction: column;
    justify-content: flex-start;
  }
  .faq-item2 {
    border-radius: 20px;
    border-left: 1px solid #06cc02;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 99px 20px 32px;
    gap: 19.5px;
    max-width: 100%;
    text-align: left;
    font-size: 20px;
    color: #fff;
  }
  .frame-group {
    gap: 82px;
    text-align: center;
    font-size: 16px;
    color: #b3b3b3;
  }
  .frame-group,
  .frame-parent,
  .help-page-desktop-inner {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .frame-parent {
    width: 1003px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 92px;
  }
  .help-page-desktop-inner {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    padding: 0 23px 0 20px;
    box-sizing: border-box;
    text-align: left;
    font-size: 20px;
    color: #fff;
    font-family: Lexend;
  }
  .logo-icon {
    height: 36px;
    width: 36px;
    position: relative;
    object-fit: contain;
    min-height: 36px;
  }
  .watcal {
    margin: 0;
    position: relative;
    font-size: inherit;
    line-height: 150%;
    font-weight: 400;
    font-family: inherit;
    display: inline-block;
    min-width: 86px;
  }
  .footer-section-inner,
  .logo-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .logo-parent {
    justify-content: flex-start;
    gap: 6px;
  }
  .footer-section-inner {
    width: 1116px;
    justify-content: center;
    max-width: 100%;
    font-size: 24px;
    color: #fff;
  }
  .text-button {
    position: relative;
    line-height: 150%;
    display: inline-block;
    min-width: 47px;
    cursor: pointer;
  }
  .text-button1,
  .text-button2,
  .text-button3 {
    position: relative;
    line-height: 150%;
    display: inline-block;
    cursor: pointer;
  }
  .text-button1 {
    min-width: 79px;
    white-space: nowrap;
  }
  .text-button2,
  .text-button3 {
    min-width: 47px;
  }
  .text-button3 {
    min-width: 64px;
  }
  .navigation-links,
  .navigation-links-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .navigation-links {
    justify-content: flex-start;
    gap: 26px;
  }
  .navigation-links-wrapper {
    width: 1116px;
    justify-content: center;
    max-width: 100%;
  }
  .footer-divider {
    width: 1116px;
    height: 1px;
    position: relative;
    border-top: 1px solid #262626;
    box-sizing: border-box;
    max-width: 100%;
  }
  .icon4 {
    width: 20px;
    height: 20px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .icon-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2px 0 0;
  }
  .text-button4 {
    position: relative;
    line-height: 150%;
    white-space: nowrap;
  }
  .button {
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 6px;
  }
  .icon5 {
    width: 20px;
    height: 20px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .icon-frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2px 0 0;
  }
  .text-button5 {
    position: relative;
    line-height: 150%;
    display: inline-block;
    min-width: 129px;
    white-space: nowrap;
  }
  .button1,
  .social-buttons,
  .social-buttons-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .button1 {
    border-radius: 6px;
    justify-content: flex-start;
    gap: 6px;
  }
  .social-buttons,
  .social-buttons-wrapper {
    max-width: 100%;
  }
  .social-buttons {
    justify-content: flex-start;
    gap: 20px;
  }
  .social-buttons-wrapper {
    width: 1116px;
    justify-content: center;
  }
  .footer-divider1 {
    width: 1116px;
    height: 1px;
    position: relative;
    border-top: 1px solid #262626;
    box-sizing: border-box;
    max-width: 100%;
  }
  .copyright {
    position: relative;
    line-height: 150%;
    font-weight: 300;
  }
  .copyright-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 12px 0 0;
  }
  .icon6 {
    width: 20px;
    height: 20px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .button2 {
    height: 48px;
    width: 48px;
    border-radius: 100px;
    background-color: #06cc02;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 14px;
    box-sizing: border-box;
    cursor: pointer;
  }
  .icon7 {
    width: 20px;
    height: 20px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .button3 {
    height: 48px;
    width: 48px;
    border-radius: 100px;
    background-color: #06cc02;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 14px;
    box-sizing: border-box;
    cursor: pointer;
  }
  .icon8 {
    width: 20px;
    height: 20px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .button4,
  .social-media-icons {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .button4 {
    height: 48px;
    width: 48px;
    border-radius: 100px;
    background-color: #06cc02;
    flex-direction: column;
    padding: 14px;
    box-sizing: border-box;
    cursor: pointer;
  }
  .social-media-icons {
    flex-direction: row;
    gap: 14px;
  }
  .text-button6 {
    position: relative;
    line-height: 150%;
    font-weight: 300;
    display: inline-block;
    min-width: 105px;
    cursor: pointer;
  }
  .legal-divider {
    height: 25px;
    width: 1px;
    position: relative;
    border-right: 1px solid #b3b3b3;
    box-sizing: border-box;
  }
  .text-button7 {
    position: relative;
    line-height: 150%;
    font-weight: 300;
    display: inline-block;
    min-width: 125px;
    cursor: pointer;
  }
  .container,
  .legal-links,
  .legal-links-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .legal-links {
    height: 24px;
    flex-direction: row;
    gap: 11.5px;
  }
  .container,
  .legal-links-wrapper {
    flex-direction: column;
    padding: 12px 0 0;
  }
  .container {
    width: 1116px;
    border-radius: 100px;
    background-color: #1a1a1a;
    border: 1px solid #262626;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
    padding: 6px 30px 6px 16px;
    gap: 20px;
    max-width: 100%;
    text-align: left;
    font-size: 16px;
    color: #b3b3b3;
    font-family: Lexend;
  }
  .footer-section,
  .help-page-desktop {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .footer-section {
    align-self: stretch;
    background-color: #1c1c1c;
    border-top: 1px solid #000;
    align-items: center;
    padding: 98px 20px 50px;
    gap: 49.6px;
    max-width: 100%;
    text-align: left;
    font-size: 16px;
    color: #e3e3e8;
    font-family: Lexend;
  }
  .help-page-desktop {
    width: 100%;
    position: relative;
    background-color: #1a1a1a;
    overflow: hidden;
    align-items: flex-start;
    padding: 50px 1px 0;
    gap: 108px;
    line-height: normal;
    letter-spacing: normal;
  }
  @media screen and (max-width: 1000px) {
    .frame-container {
      gap: 36px;
    }
    .frame-group {
      gap: 41px;
    }
    .frame-parent {
      gap: 46px;
    }
  }
  @media screen and (max-width: 975px) {
    .container {
      flex-wrap: wrap;
    }
    .help-page-desktop {
      gap: 54px;
    }
  }
  @media screen and (max-width: 725px) {
    .frame-container {
      gap: 18px;
    }
    .faq-item2 {
      padding-top: 64px;
      padding-bottom: 21px;
      box-sizing: border-box;
    }
    .frame-group {
      gap: 20px;
    }
    .frame-parent {
      gap: 23px;
    }
    .footer-section {
      gap: 25px;
      padding-top: 64px;
      padding-bottom: 32px;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .help-support {
      font-size: 16px;
      line-height: 21px;
    }
    .navbar {
      flex-wrap: wrap;
    }
    .help {
      font-size: 16px;
      line-height: 24px;
    }
    .faq-item1 {
      padding-top: 20px;
      padding-bottom: 38px;
      box-sizing: border-box;
    }
    .support {
      font-size: 16px;
      line-height: 24px;
    }
    .watcal {
      font-size: 19px;
      line-height: 29px;
    }
    .social-buttons {
      flex-wrap: wrap;
    }
    .help-page-desktop {
      gap: 27px;
    }
  }